@{
    ViewData["Title"] = "Ur way to Go";
}

<!DOCTYPE html>
<html>
<head>
    <title>Menu principal</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["GoogleMapsApiKey"]&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 18.459, lng: -69.920 },
                zoom: 12
            });

            const rutaIndependenciaCoordenadas = [
                { lat: 18.42618891, lng: -69.99745394 },
                { lat: 18.4270977, lng: -69.99303483 },
                { lat: 18.42790764, lng: -69.98979835 },
                { lat: 18.42843954, lng: -69.98611591 },
                { lat: 18.42882637, lng: -69.98233153 },
                { lat: 18.42965765, lng: -69.9774576 },
                { lat: 18.43058115, lng: -69.97293441 },
                { lat: 18.43171397, lng: -69.96771035 },
                { lat: 18.43222497, lng: -69.96554285 },
                { lat: 18.43404115, lng: -69.96069518 },
                { lat: 18.43644834, lng: -69.95634721 },
                { lat: 18.43805516, lng: -69.95216796 },
                { lat: 18.43935415, lng: -69.94804712 },
                { lat: 18.44158628, lng: -69.94314286 },
                { lat: 18.44274281, lng: -69.94053829 },
                { lat: 18.44479943, lng: -69.93619313 },
                { lat: 18.44826662, lng: -69.9315283 },
                { lat: 18.44975846, lng: -69.9298428 },
                { lat: 18.45195209, lng: -69.92599691 },
                { lat: 18.45313145, lng: -69.92400766 },
                { lat: 18.45497517, lng: -69.92079171 },
                { lat: 18.45546263, lng: -69.91904697 },
                { lat: 18.45625011, lng: -69.91597079 },
                { lat: 18.45803165, lng: -69.9117306 },
                { lat: 18.46103922, lng: -69.90694592 },
                { lat: 18.46256751, lng: -69.90399958 },
                { lat: 18.46383782, lng: -69.90117686 },
                { lat: 18.46567878, lng: -69.8972127 },
                { lat: 18.46879607, lng: -69.89400171 },
                { lat: 18.47017582, lng: -69.89301078 },
                { lat: 18.47229859, lng: -69.89278261 },
                { lat: 18.4767314, lng: -69.89558265 },
                { lat: 18.47673985,	lng: -69.8926193 },
                { lat: 18.47895241, lng: -69.88916333 },
                { lat: 18.47960013, lng: -69.88831708 },
                { lat: 18.48053173, lng: -69.87787792 },
                { lat: 18.47529697, lng: -69.87589227 },
                { lat: 18.47307415, lng: -69.87296558 },
                { lat: 18.47336234, lng: -69.86846831 },
                { lat: 18.47377342, lng: -69.86561981 },
                { lat: 18.47400015, lng: -69.86385709 },
                { lat: 18.47452331, lng: -69.85989475 },
                { lat: 18.474814, lng: -69.85769261 },
                { lat: 18.47431942, lng: -69.85577858 },
                { lat: 18.4730593, lng: -69.85211039 },
                { lat: 18.47336449, lng: -69.84867279 },
                { lat: 18.47365587, lng: -69.84631446 },
                { lat: 18.47380275, lng: -69.84323073 },
                { lat: 18.47288705, lng: -69.84114074 },
                { lat: 18.46867879, lng: -69.82937419 },
                { lat: 18.46554753, lng: -69.81975805 },
                { lat: 18.46510868, lng: -69.81660686 },
                { lat: 18.46508496, lng: -69.81420596 },
                { lat: 18.46490704, lng: -69.81328061 },
                { lat: 18.46471727, lng: -69.8108672 },
                { lat: 18.46499007, lng: -69.80722832 },
                { lat: 18.46494263, lng: -69.80323931 },
                { lat: 18.46502565, lng: -69.80160119 },
                { lat: 18.46573731, lng: -69.79784978 },
                { lat: 18.46654385, lng: -69.79434846 },
                { lat: 18.4664964, lng: -69.79373572 },
                { lat: 18.46635013, lng: -69.78818019 },
                { lat: 18.46635013, lng: -69.78516655 },
                { lat: 18.46616035, lng: -69.7826531 },
                { lat: 18.46637385, lng: -69.77883916 },
                { lat: 18.470193, lng: -69.77860157 },
                { lat: 18.47989469, lng: -69.77778876 },
            ];
            var rutaIndependencia = new google.maps.Polyline({
                path: rutaIndependenciaCoordenadas,
                strokeColor: "#6C3483",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaIndependencia.setMap(map);

            const rutaLaBarquitaCoordenadas = [
                { lat: 18.547150495092527, lng: -69.90135101449063 },
                { lat: 18.544159269243227, lng: -69.90051528941615 },
                { lat: 18.542822119586674, lng: -69.9036424645328 },
                { lat: 18.539557971284275, lng: -69.90339479800046 },
                { lat: 18.53810663021159, lng: -69.89949871989995 },
                { lat: 18.537541111745547, lng: -69.89922757254732 },
                { lat: 18.534743930674072, lng: -69.89800652100094 },
                { lat: 18.534293758664777, lng: -69.89738414970257 },
                { lat: 18.534680054985646, lng: -69.89440703339947 },
                { lat: 18.534075844694243, lng: -69.88569590942403 },
                { lat: 18.5331146614242, lng: -69.88549379915693 },
                { lat: 18.532457491976466, lng: -69.88542201395724 },
                { lat: 18.530632960190587, lng: -69.88469669967773 },
                { lat: 18.52979202769722, lng: -69.88506889045973 },
                { lat: 18.52723779097541, lng: -69.88290294223994 },
                { lat: 18.5288468972059, lng: -69.88457273446836 },
                { lat: 18.534773003221034, lng: -69.89455409673428 },
                { lat: 18.54018973508438, lng: -69.90432433472883 },
                { lat: 18.542210778601838, lng: -69.90373410920235 },
                { lat: 18.54429699200154, lng: -69.90030736295908 },
                { lat: 18.546057214726215, lng: -69.90056522848339 },
            ];
            var rutaLaBarquita = new google.maps.Polyline({
                path: rutaLaBarquitaCoordenadas,
                strokeColor: "#2ECC71",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaLaBarquita.setMap(map);

            const rutaMaximoGomezCoordenadas = [
                { lat: 18.547113672003547, lng: -69.90136703378437 },
                { lat: 18.544179035869725, lng: -69.90052708212023 },
                { lat: 18.542844423333637, lng: -69.9036457914869 },
                { lat: 18.535441189974637, lng: -69.90689671545005 },
                { lat: 18.532483368556534, lng: -69.90701552059414 },
                { lat: 18.52861551071104, lng: -69.90931737868938 },
                { lat: 18.526913288459514, lng: -69.91509424266943 },
                { lat: 18.521334599729272, lng: -69.91670287709975 },
                { lat: 18.519307975160636, lng: -69.91497059064052 },
                { lat: 18.515846146789983, lng: -69.91506699861232 },
                { lat: 18.508440736226767, lng: -69.91561631092108 },
                { lat: 18.502839379090133, lng: -69.91568945994807 },
                { lat: 18.49633602558855, lng: -69.91537857665143 },
                { lat: 18.486793918780773, lng: -69.9146446647322 },
                { lat: 18.480067770299218, lng: -69.91419328577965 },
                { lat: 18.47704771752321, lng: -69.913720128026 },
                { lat: 18.47178372336528, lng: -69.91235180691818 },
                { lat: 18.469777855463544, lng: -69.91172379809774 },
                { lat: 18.465193513353682, lng: -69.910217855068 },
                { lat: 18.462658127543982, lng: -69.90894675887577 },
                { lat: 18.46165651503982, lng: -69.91098428037022 },
                { lat: 18.459315443618728, lng: -69.91621671465232 },
                { lat: 18.45784997473788, lng: -69.9193173482857 },
                { lat: 18.456127553019037, lng: -69.92284144151397 },
                { lat: 18.455354098319848, lng: -69.9244936823019 },
                { lat: 18.452719126797213, lng: -69.92305266152256 },
                { lat: 18.45077109026893, lng: -69.92248717849888 },
                { lat: 18.44971350641954, lng: -69.92287957014186 },
                { lat: 18.449318266645363, lng: -69.92336318240442 },
                { lat: 18.448043245591016, lng: -69.92562340627167 },
                { lat: 18.44709648686719, lng: -69.92783444367282 },
                { lat: 18.447286201142198, lng: -69.92880378933937 },
                { lat: 18.44790421287804, lng: -69.92945527888276 },
                { lat: 18.44918667884572, lng: -69.93024374974789 },
                { lat: 18.44973018140324, lng: -69.9298308125191 },
                { lat: 18.449945623382455, lng: -69.9294591690132 },
                { lat: 18.45108531565709, lng: -69.92754701450741 },
                { lat: 18.451926169115303, lng: -69.92599362311316 },
                { lat: 18.4531262149725, lng: -69.92400992939508 },
                { lat: 18.45494130202333, lng: -69.92079831593927 },
                { lat: 18.45549312586148, lng: -69.91904071228181 },
                { lat: 18.45625985945161, lng: -69.91598809589547 },
                { lat: 18.45800342422993, lng: -69.91176042907638 },
                { lat: 18.460285190249436, lng: -69.90830818218528 },
                { lat: 18.460936449763466, lng: -69.90797299631802 },
                { lat: 18.46174154669174, lng: -69.90838927554027 },
            ];
            var rutaMaximoGomez = new google.maps.Polyline({
                path: rutaMaximoGomezCoordenadas,
                strokeColor: "#1ABC9C",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaMaximoGomez.setMap(map);

            const rutaNacoCoordenadas = [
                { lat: 18.4824906271695, lng: -69.97434720157588 },
                { lat: 18.47872700598046, lng: -69.96812179635809 },
                { lat: 18.479693692114388, lng: -69.96303096364457 },
                { lat: 18.478111376707155, lng: -69.96217802119732 },
                { lat: 18.473688097667402, lng: -69.96115621068384 },
                { lat: 18.470599771713882, lng: -69.9604431530525 },
                { lat: 18.46566676382322, lng: -69.95909558294021 },
                { lat: 18.465004379150233, lng: -69.9578408272785 },
                { lat: 18.465877222933273, lng: -69.95526846516098 },
                { lat: 18.467524478422117, lng: -69.95053957374333 },
                { lat: 18.469451328151173, lng: -69.9460279878224 },
                { lat: 18.470706944480114, lng: -69.94361070295167 },
                { lat: 18.472249492099422, lng: -69.94053821585088 },
                { lat: 18.47434803114278, lng: -69.93627365071885 },
                { lat: 18.475440021873887, lng: -69.93210299603234 },
                { lat: 18.475322174699585, lng: -69.92900897524339 },
                { lat: 18.476987214961405, lng: -69.92720851332764 },
                { lat: 18.481944009105632, lng: -69.92879437615785 },
                { lat: 18.487941017787897, lng: -69.92941289715827 },
                { lat: 18.490778880769206, lng: -69.92965977141539 },
                { lat: 18.492696447071634, lng: -69.92961168104317 },
                { lat: 18.493557259763676, lng: -69.9231823821176 },
                { lat: 18.490346989214935, lng: -69.9214598257232 },
                { lat: 18.48798271365009, lng: -69.92117367488844 },
                { lat: 18.487067189028966, lng: -69.91630133663955 },
                { lat: 18.486806377608122, lng: -69.9146386764171 },
                { lat: 18.484879638915384, lng: -69.91711907346233 },
                { lat: 18.485186904876652, lng: -69.92040616246467 },
                { lat: 18.48407792135211, lng: -69.92847981445819 },
                { lat: 18.482145550875867, lng: -69.92903495093843 },
                { lat: 18.47744246401174, lng: -69.92754881571528 },
                { lat: 18.4713731986702, lng: -69.92517965807653 },
                { lat: 18.47006245265438, lng: -69.92784903771634 },
                { lat: 18.468910478386707, lng: -69.93269254510477 },
                { lat: 18.466711763957942, lng: -69.93703597503944 },
                { lat: 18.464675689291703, lng: -69.94092924592096 },
                { lat: 18.46232769912683, lng: -69.94575236024968 },
                { lat: 18.466036019307847, lng: -69.94719335278393 },
                { lat: 18.46754845317965, lng: -69.95078992841907 },
                { lat: 18.46501091768189, lng: -69.95818977946533 },
                { lat: 18.465554278335453, lng: -69.95880987871128 },
                { lat: 18.47072570060878, lng: -69.96022571622787 },
                { lat: 18.47342559200069, lng: -69.96083990976393 },
                { lat: 18.47607502914917, lng: -69.96150134896243 },
                { lat: 18.47875803267391, lng: -69.96205057971846 },
                { lat: 18.480147128631508, lng: -69.96318447548809 },
                { lat: 18.47917252216122, lng: -69.96919057963773 },
                { lat: 18.482600769408805, lng: -69.97414677945537 },
            ];
            var rutaNaco = new google.maps.Polyline({
                path: rutaNacoCoordenadas,
                strokeColor: "#F5B041",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaNaco.setMap(map);

            const rutaSimonBolivarCoordenadas = [
                { lat: 18.42668330342161, lng: -70.0061212684313 },
                { lat: 18.426427391868934, lng: -70.00286362345211 },
                { lat: 18.42601399547939, lng: -70.00029070639849 },
                { lat: 18.427082372583293, lng: -69.99301142242687 },
                { lat: 18.4288501724923, lng: -69.99255414395992 },
                { lat: 18.43099091712576, lng: -69.99199300948541 },
                { lat: 18.434117067635214, lng: -69.98802589044998 },
                { lat: 18.436177401747678, lng: -69.98659273262297 },
                { lat: 18.438733297764763, lng: -69.98481330594933 },
                { lat: 18.44138021360737, lng: -69.98351395873662 },
                { lat: 18.443404298213437, lng: -69.98283009180733 },
                { lat: 18.446881516045448, lng: -69.98211887016811 },
                { lat: 18.446167913655927, lng: -69.98010830126343 },
                { lat: 18.444740699983406, lng: -69.97807037767978 },
                { lat: 18.444520129544877, lng: -69.97544432859115 },
                { lat: 18.44564892825818, lng: -69.96918010718412 },
                { lat: 18.446336583599457, lng: -69.96587019102813 },
                { lat: 18.448023273756554, lng: -69.96045396472657 },
                { lat: 18.449165023845538, lng: -69.95718508068413 },
                { lat: 18.45033271495284, lng: -69.95477786900042 },
                { lat: 18.45161716599402, lng: -69.95198769179477 },
                { lat: 18.453524363456754, lng: -69.9470638497208 },
                { lat: 18.456391606832316, lng: -69.94133304454799 },
                { lat: 18.4596152741494, lng: -69.93337468741728 },
                { lat: 18.458379104487708, lng: -69.93225885875685 },
                { lat: 18.457312597976674, lng: -69.93168816779807 },
                { lat: 18.452537476344542, lng: -69.92869842845155 },
                { lat: 18.451962342060035, lng: -69.925990759158 },
                { lat: 18.453110287345627, lng: -69.92400969155274 },
                { lat: 18.454987921972915, lng: -69.9207922330892 },
                { lat: 18.455459034355645, lng: -69.91900715548542 },
                { lat: 18.456216908077376, lng: -69.91596964435985 },
                { lat: 18.458028554546754, lng: -69.91170890377522 },
                { lat: 18.460953754067276, lng: -69.90697656254547 },
                { lat: 18.46252802264741, lng: -69.90404968804687 },
                { lat: 18.46377253555751, lng: -69.90115645572334 },
                { lat: 18.46563396963496, lng: -69.89719788594293 },
                { lat: 18.46755784308158, lng: -69.89578677753877 },
                { lat: 18.46904386978941, lng: -69.89694861037636 },
                { lat: 18.470396309869596, lng: -69.8975207250267 },
                { lat: 18.470129162062833, lng: -69.89915785312786 },
                { lat: 18.46958469082424, lng: -69.90143720315741 },
                { lat: 18.46912393398501, lng: -69.90340681079573 },
                { lat: 18.46836835602467, lng: -69.90666143704948 },
                { lat: 18.46741332462556, lng: -69.91041517363836 },
                { lat: 18.467137890401343, lng: -69.91168572245532 },
                { lat: 18.465915900991387, lng: -69.91645838790029 },
                { lat: 18.465027175922334, lng: -69.92014768747394 },
                { lat: 18.46416621914638, lng: -69.9236905863299 },
                { lat: 18.463721852661156, lng: -69.92550595596279 },
                { lat: 18.462726448763352, lng: -69.92915682970975 },
                { lat: 18.460144426706034, lng: -69.93450146031745 },
            ];
            rutaSimonBolivar = new google.maps.Polyline({
                path: rutaSimonBolivarCoordenadas,
                strokeColor: "#3498DB",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaSimonBolivar.setMap(map);

            const rutaLosRiosCoordenadas = [
                { lat: 18.49317098775938, lng: -69.96597623990061 },
                { lat: 18.49141582532252, lng: -69.96820066544166 },
                { lat: 18.49004881135028, lng: -69.96900145862085 },
                { lat: 18.484192467550795, lng: -69.96784475731252 },
                { lat: 18.481070127492195, lng: -69.96720412275208 },
                { lat: 18.47970303100498, lng: -69.96311117968894 },
                { lat: 18.48069881841329, lng: -69.95814626186703 },
                { lat: 18.481757464923277, lng: -69.95260315124544 },
                { lat: 18.481926240847887, lng: -69.94957793253306 },
                { lat: 18.476647387521282, lng: -69.94410966354164 },
                { lat: 18.471915587503613, lng: -69.94147663407385 },
                { lat: 18.468317360533515, lng: -69.93944989430697 },
                { lat: 18.46404539492418, lng: -69.93704205816502 },
                { lat: 18.463299305445993, lng: -69.93670506670347 },
                { lat: 18.459126853904966, lng: -69.93310017771164 },
                { lat: 18.454506508629958, lng: -69.92996735763823 },
                { lat: 18.453582699104228, lng: -69.928007439199 },
                { lat: 18.45478360035316, lng: -69.92570331400626 },
                { lat: 18.455900431010495, lng: -69.9247158318225 },
                { lat: 18.457905904322388, lng: -69.92586789441884 },
                { lat: 18.46061986091084, lng: -69.92741241788322 },
                { lat: 18.465035834400474, lng: -69.92984771854218 },
                { lat: 18.468890440443502, lng: -69.93202524342726 },
                { lat: 18.47224063518317, lng: -69.93387360755264 },
                { lat: 18.47620314661719, lng: -69.93608911248947 },
                { lat: 18.47889279917981, lng: -69.93751969567332 },
                { lat: 18.482530967427767, lng: -69.93960860033341 },
                { lat: 18.486157051686636, lng: -69.94160888480064 },
                { lat: 18.488366283931292, lng: -69.94422951066298 },
                { lat: 18.48972302657876, lng: -69.94830603977081 },
                { lat: 18.489434869746553, lng: -69.95230660869224 },
                { lat: 18.4882984336363, lng: -69.9578241015429 },
                { lat: 18.490903851313874, lng: -69.95929266485149 },
                { lat: 18.49457778314452, lng: -69.95905212431899 },
                { lat: 18.498611813558075, lng: -69.95865966342866 },
                { lat: 18.499848416946143, lng: -69.96228043153837 },
                { lat: 18.497339183291928, lng: -69.96359707448623 },
            ];
            var rutaLosRios = new google.map.Polyline({
                path: rutaLosRiosCoordenadas,
                strokeColor: "#DC7633",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutasLosRios.setMap(map);

            const ruta27DeFebreroCoordenadas = [
                { lat: 18.500312631607773, lng: -69.99933562899899 },
                { lat: 18.495411415638326, lng: -69.99947312497103 },
                { lat: 18.492504368355124, lng: -70.00013634071873 },
                { lat: 18.488592432682342, lng: -70.00014442871827 },
                { lat: 18.484105102347826, lng: -69.99825992540431 },
                { lat: 18.481619761155777, lng: -69.997370245735 },
                { lat: 18.476942398681246, lng: -69.99626532831363 },
                { lat: 18.472910991181383, lng: -69.99448858540522 },
                { lat: 18.469730930008524, lng: -69.99482931599472 },
                { lat: 18.4640557963627, lng: -69.9938957141808 },
                { lat: 18.460009401919947, lng: -69.98904371064317 },
                { lat: 18.457889208284904, lng: -69.98416444871782 },
                { lat: 18.456777388951483, lng: -69.9828969309626 },
                { lat: 18.45072043280373, lng: -69.97857646715448 },
                { lat: 18.44969260363517, lng: -69.97238879976747 },
                { lat: 18.449724925400858, lng: -69.96788434148321 },
                { lat: 18.450532967535015, lng: -69.96480413701664 },
                { lat: 18.45192279110718, lng: -69.9607289992534 },
                { lat: 18.453118676809833, lng: -69.9579486377023 },
                { lat: 18.456583466206887, lng: -69.95044575029168 },
                { lat: 18.457953848680493, lng: -69.94671134307941 },
                { lat: 18.45878124413397, lng: -69.9440263861064 },
                { lat: 18.46033259983821, lng: -69.94020338897835 },
                { lat: 18.462077858250115, lng: -69.93679608316326 },
                { lat: 18.463112077084762, lng: -69.93486073345862 },
                { lat: 18.464792669380444, lng: -69.93155564679664 },
                { lat: 18.468380032505017, lng: -69.92442074840267 },
                { lat: 18.47205780979196, lng: -69.91958918875078 },
                { lat: 18.475819532046014, lng: -69.91434193777856 },
                { lat: 18.476220260485327, lng: -69.91214081821902 },
                { lat: 18.47566266781677, lng: -69.9066367819679 },
                { lat: 18.476599854677733, lng: -69.90458558387446 },
                { lat: 18.478351410862086, lng: -69.90190744149923 },
                { lat: 18.476780828107472, lng: -69.89546763346513 },
                { lat: 18.476754974777513, lng: -69.89263956963522 },
                { lat: 18.47892017804081, lng: -69.88915048849616 },
                { lat: 18.48264297107919, lng: -69.87766105326516 },
                { lat: 18.48547379082554, lng: -69.87498291088059 },
                { lat: 18.484795173923363, lng: -69.86604214038904 },
                { lat: 18.484756395733605, lng: -69.86535386459805 },
                { lat: 18.484523726406188, lng: -69.86270298066518 },
                { lat: 18.484310445909824, lng: -69.85978632689276 },
                { lat: 18.48425227845931, lng: -69.85707411145862 },
                { lat: 18.483942051710613, lng: -69.85056615731786 },
                { lat: 18.477763251949362, lng: -69.8365893888484 },
                { lat: 18.476134493592355, lng: -69.83546497792628 },
                { lat: 18.473141932935782, lng: -69.83329111681387 },
                { lat: 18.4695546694045, lng: -69.83286861089135 },
                { lat: 18.46870147134982, lng: -69.82940678814242 },
                { lat: 18.4670790906191, lng: -69.82473196458693 },
                { lat: 18.46539852071692, lng: -69.81949834282328 },
                { lat: 18.46509472363189, lng: -69.81594111552016 },
                { lat: 18.464907274088052, lng: -69.8132834169811 },
                { lat: 18.464693969196095, lng: -69.81080289832819 },
                { lat: 18.464810317342742, lng: -69.80755914319836 },
                { lat: 18.46498483942633, lng: -69.80323867939082 },
                { lat: 18.465049477192128, lng: -69.80156909957186 },
                { lat: 18.46583159221694, lng: -69.7976370686991 },
                { lat: 18.466432719514593, lng: -69.79371185236478 },
                { lat: 18.46639531181165, lng: -69.79116651253375 },
                { lat: 18.466358163889197, lng: -69.78813126260816 },
                { lat: 18.46632101595799, lng: -69.78521350623765 },
                { lat: 18.466128587667875, lng: -69.7826706907621 },
                { lat: 18.47040021393436, lng: -69.77841457619253 },
                { lat: 18.47344087945595, lng: -69.7782056196669 },
                { lat: 18.478219365158047, lng: -69.77784100817641 },
            ];
            var ruta27DeFebrero = new google.map.Polyline({
                path: ruta27DeFebreroCoordenadas,
                strokeColor: "#17202A",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            ruta27DeFebrero.setMap(map);

            const linea1DelMetroCoordenadas = [
                { lat: 18.450974082961558, lng: -69.92768951965071 },
                { lat: 18.455584463602715, lng: -69.92403795309927 },
                { lat: 18.459256475916366, lng: -69.9164545912472 },
                { lat: 18.464543605005947, lng: -69.90996105393768 },
                { lat: 18.47123673031779, lng: -69.91206998499757 },
                { lat: 18.47676314910712, lng: -69.9138531506219 },
                { lat: 18.481497385651515, lng: -69.91463799465248 },
                { lat: 18.486112396028716, lng: -69.91432405703814 },
                { lat: 18.49338897284492, lng: -69.91491425973646 },
                { lat: 18.499629195134514, lng: -69.91543539616511 },
                { lat: 18.507518463670728, lng: -69.91585607256988 },
                { lat: 18.51814011950885, lng: -69.91507750730077 },
                { lat: 18.525439148649316, lng: -69.9164713902598 },
                { lat: 18.529350490379404, lng: -69.90840319368988 },
                { lat: 18.53957789857018, lng: -69.90436595605051 },
                { lat: 18.54661409518099, lng: -69.90118890745772 },
            ]
            var linea1DelMetro = new google.map.Polyline({
                path: linea1DelMetroCoordenadas,
                strokeColor: "#7B241C",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            linea1DelMetro.setMap(map);

            const linea2DelMetroCoordenadas = [
                { lat: 18.478764456728918, lng: -69.96827595767249 },
                { lat: 18.479832898734674, lng: -69.96216052107935 },
                { lat: 18.48156274314495, lng: -69.95463960703181 },
                { lat: 18.482071517604552, lng: -69.94657152232254 },
                { lat: 18.48367923490839, lng: -69.94082086619679 },
                { lat: 18.48264134319454, lng: -69.93095033698891 },
                { lat: 18.48185783250727, lng: -69.9206077390665 },
                { lat: 18.481423335254085, lng: -69.9146666762797 },
                { lat: 18.48175618782574, lng: -69.90680875786605 },
                { lat: 18.48751872097582, lng: -69.90487900614468 },
                { lat: 18.492901628929808, lng: -69.89927729043647 },
                { lat: 18.495774789421663, lng: -69.89620438457743 },
                { lat: 18.499730433908667, lng: -69.8898892982217 },
                { lat: 18.503361072907413, lng: -69.88427854279054 },
                { lat: 18.509815080319616, lng: -69.87625656514597 },
                { lat: 18.510328172337548, lng: -69.86971351996024 },
                { lat: 18.509638899998848, lng: -69.86291881346425 },
                { lat: 18.50525911508781, lng: -69.85771584230285 },
            ]
            var linea2DelMetro = google.map.Polyline({
                path: linea2DelMetroCoordenadas,
                strokeColor: "#5B2C6F",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            linea2DelMetro.setMap(map);
        }
    </script>
</head>
<body>
    <div id="map" style="height: 600px; width: 100%;"></div>
</body>
</html>

