@{
    ViewData["Title"] = "Ur way to Go";
}

<!DOCTYPE html>
<html>
<head>
    <title>Menu principal</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["GoogleMapsApiKey"]&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 18.459, lng: -69.920 },
                zoom: 13
            });

            const rutaIndependenciaCoordenadas = [
                { lat: 18.42618891, lng: -69.99745394 },
                { lat: 18.4270977, lng: -69.99303483 },
                { lat: 18.42790764, lng: -69.98979835 },
                { lat: 18.42843954, lng: -69.98611591 },
                { lat: 18.42882637, lng: -69.98233153 },
                { lat: 18.42965765, lng: -69.9774576 },
                { lat: 18.43058115, lng: -69.97293441 },
                { lat: 18.43171397, lng: -69.96771035 },
                { lat: 18.43222497, lng: -69.96554285 },
                { lat: 18.43404115, lng: -69.96069518 },
                { lat: 18.43644834, lng: -69.95634721 },
                { lat: 18.43805516, lng: -69.95216796 },
                { lat: 18.43935415, lng: -69.94804712 },
                { lat: 18.44158628, lng: -69.94314286 },
                { lat: 18.44274281, lng: -69.94053829 },
                { lat: 18.44479943, lng: -69.93619313 },
                { lat: 18.44826662, lng: -69.9315283 },
                { lat: 18.44975846, lng: -69.9298428 },
                { lat: 18.45195209, lng: -69.92599691 },
                { lat: 18.45313145, lng: -69.92400766 },
                { lat: 18.45497517, lng: -69.92079171 },
                { lat: 18.45546263, lng: -69.91904697 },
                { lat: 18.45625011, lng: -69.91597079 },
                { lat: 18.45803165, lng: -69.9117306 },
                { lat: 18.46103922, lng: -69.90694592 },
                { lat: 18.46256751, lng: -69.90399958 },
                { lat: 18.46383782, lng: -69.90117686 },
                { lat: 18.46567878, lng: -69.8972127 },
                { lat: 18.46879607, lng: -69.89400171 },
                { lat: 18.47017582, lng: -69.89301078 },
                { lat: 18.47229859, lng: -69.89278261 },
                { lat: 18.4767314, lng: -69.89558265 },
                { lat: 18.47673985,	lng: -69.8926193 },
                { lat: 18.47895241, lng: -69.88916333 },
                { lat: 18.47960013, lng: -69.88831708 },
                { lat: 18.48053173, lng: -69.87787792 },
                { lat: 18.47529697, lng: -69.87589227 },
                { lat: 18.47307415, lng: -69.87296558 },
                { lat: 18.47336234, lng: -69.86846831 },
                { lat: 18.47377342, lng: -69.86561981 },
                { lat: 18.47400015, lng: -69.86385709 },
                { lat: 18.47452331, lng: -69.85989475 },
                { lat: 18.474814, lng: -69.85769261 },
                { lat: 18.47431942, lng: -69.85577858 },
                { lat: 18.4730593, lng: -69.85211039 },
                { lat: 18.47336449, lng: -69.84867279 },
                { lat: 18.47365587, lng: -69.84631446 },
                { lat: 18.47380275, lng: -69.84323073 },
                { lat: 18.47288705, lng: -69.84114074 },
                { lat: 18.46867879, lng: -69.82937419 },
                { lat: 18.46554753, lng: -69.81975805 },
                { lat: 18.46510868, lng: -69.81660686 },
                { lat: 18.46508496, lng: -69.81420596 },
                { lat: 18.46490704, lng: -69.81328061 },
                { lat: 18.46471727, lng: -69.8108672 },
                { lat: 18.46499007, lng: -69.80722832 },
                { lat: 18.46494263, lng: -69.80323931 },
                { lat: 18.46502565, lng: -69.80160119 },
                { lat: 18.46573731, lng: -69.79784978 },
                { lat: 18.46654385, lng: -69.79434846 },
                { lat: 18.4664964, lng: -69.79373572 },
                { lat: 18.46635013, lng: -69.78818019 },
                { lat: 18.46635013, lng: -69.78516655 },
                { lat: 18.46616035, lng: -69.7826531 },
                { lat: 18.46637385, lng: -69.77883916 },
                { lat: 18.470193, lng: -69.77860157 },
                { lat: 18.47989469, lng: -69.77778876 },
            ];
            var rutaIndependencia = new google.maps.Polyline({
                path: rutaIndependenciaCoordenadas,
                strokeColor: "#6C3483",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaIndependencia.setMap(map);

            const rutaLaBarquitaCoordenadas = [
                { lat: 18.547150495092527, lng: -69.90135101449063 },
                { lat: 18.544159269243227, lng: -69.90051528941615 },
                { lat: 18.542822119586674, lng: -69.9036424645328 },
                { lat: 18.539557971284275, lng: -69.90339479800046 },
                { lat: 18.53810663021159, lng: -69.89949871989995 },
                { lat: 18.537541111745547, lng: -69.89922757254732 },
                { lat: 18.534743930674072, lng: -69.89800652100094 },
                { lat: 18.534293758664777, lng: -69.89738414970257 },
                { lat: 18.534680054985646, lng: -69.89440703339947 },
                { lat: 18.534075844694243, lng: -69.88569590942403 },
                { lat: 18.5331146614242, lng: -69.88549379915693 },
                { lat: 18.532457491976466, lng: -69.88542201395724 },
                { lat: 18.530632960190587, lng: -69.88469669967773 },
                { lat: 18.52979202769722, lng: -69.88506889045973 },
                { lat: 18.52723779097541, lng: -69.88290294223994 },
                { lat: 18.5288468972059, lng: -69.88457273446836 },
                { lat: 18.534773003221034, lng: -69.89455409673428 },
                { lat: 18.54018973508438, lng: -69.90432433472883 },
                { lat: 18.542210778601838, lng: -69.90373410920235 },
                { lat: 18.54429699200154, lng: -69.90030736295908 },
                { lat: 18.546057214726215, lng: -69.90056522848339 },
            ];
            var rutaLaBarquita = new google.maps.Polyline({
                path: rutaLaBarquitaCoordenadas,
                strokeColor: "#2ECC71",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaLaBarquita.setMap(map);

            const rutaMaximoGomezCoordenadas = [
                { lat: 18.547113672003547, lng: -69.90136703378437 },
                { lat: 18.544179035869725, lng: -69.90052708212023 },
                { lat: 18.542844423333637, lng: -69.9036457914869 },
                { lat: 18.535441189974637, lng: -69.90689671545005 },
                { lat: 18.532483368556534, lng: -69.90701552059414 },
                { lat: 18.52861551071104, lng: -69.90931737868938 },
                { lat: 18.526913288459514, lng: -69.91509424266943 },
                { lat: 18.521334599729272, lng: -69.91670287709975 },
                { lat: 18.519307975160636, lng: -69.91497059064052 },
                { lat: 18.515846146789983, lng: -69.91506699861232 },
                { lat: 18.508440736226767, lng: -69.91561631092108 },
                { lat: 18.502839379090133, lng: -69.91568945994807 },
                { lat: 18.49633602558855, lng: -69.91537857665143 },
                { lat: 18.486793918780773, lng: -69.9146446647322 },
                { lat: 18.480067770299218, lng: -69.91419328577965 },
                { lat: 18.47704771752321, lng: -69.913720128026 },
                { lat: 18.47178372336528, lng: -69.91235180691818 },
                { lat: 18.469777855463544, lng: -69.91172379809774 },
                { lat: 18.465193513353682, lng: -69.910217855068 },
                { lat: 18.462658127543982, lng: -69.90894675887577 },
                { lat: 18.46165651503982, lng: -69.91098428037022 },
                { lat: 18.459315443618728, lng: -69.91621671465232 },
                { lat: 18.45784997473788, lng: -69.9193173482857 },
                { lat: 18.456127553019037, lng: -69.92284144151397 },
                { lat: 18.455354098319848, lng: -69.9244936823019 },
                { lat: 18.452719126797213, lng: -69.92305266152256 },
                { lat: 18.45077109026893, lng: -69.92248717849888 },
                { lat: 18.44971350641954, lng: -69.92287957014186 },
                { lat: 18.449318266645363, lng: -69.92336318240442 },
                { lat: 18.448043245591016, lng: -69.92562340627167 },
                { lat: 18.44709648686719, lng: -69.92783444367282 },
                { lat: 18.447286201142198, lng: -69.92880378933937 },
                { lat: 18.44790421287804, lng: -69.92945527888276 },
                { lat: 18.44918667884572, lng: -69.93024374974789 },
                { lat: 18.44973018140324, lng: -69.9298308125191 },
                { lat: 18.449945623382455, lng: -69.9294591690132 },
                { lat: 18.45108531565709, lng: -69.92754701450741 },
                { lat: 18.451926169115303, lng: -69.92599362311316 },
                { lat: 18.4531262149725, lng: -69.92400992939508 },
                { lat: 18.45494130202333, lng: -69.92079831593927 },
                { lat: 18.45549312586148, lng: -69.91904071228181 },
                { lat: 18.45625985945161, lng: -69.91598809589547 },
                { lat: 18.45800342422993, lng: -69.91176042907638 },
                { lat: 18.460285190249436, lng: -69.90830818218528 },
                { lat: 18.460936449763466, lng: -69.90797299631802 },
                { lat: 18.46174154669174, lng: -69.90838927554027 },
            ];
            var rutaMaximoGomez = new google.maps.Polyline({
                path: rutaMaximoGomezCoordenadas,
                strokeColor: "#1ABC9C",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaMaximoGomez.setMap(map);

            const rutaNacoCoordenadas = [
                { lat: 18.4824906271695, lng: -69.97434720157588 },
                { lat: 18.47872700598046, lng: -69.96812179635809 },
                { lat: 18.479693692114388, lng: -69.96303096364457 },
                { lat: 18.478111376707155, lng: -69.96217802119732 },
                { lat: 18.473688097667402, lng: -69.96115621068384 },
                { lat: 18.470599771713882, lng: -69.9604431530525 },
                { lat: 18.46566676382322, lng: -69.95909558294021 },
                { lat: 18.465004379150233, lng: -69.9578408272785 },
                { lat: 18.465877222933273, lng: -69.95526846516098 },
                { lat: 18.467524478422117, lng: -69.95053957374333 },
                { lat: 18.469451328151173, lng: -69.9460279878224 },
                { lat: 18.470706944480114, lng: -69.94361070295167 },
                { lat: 18.472249492099422, lng: -69.94053821585088 },
                { lat: 18.47434803114278, lng: -69.93627365071885 },
                { lat: 18.475440021873887, lng: -69.93210299603234 },
                { lat: 18.475322174699585, lng: -69.92900897524339 },
                { lat: 18.476987214961405, lng: -69.92720851332764 },
                { lat: 18.481944009105632, lng: -69.92879437615785 },
                { lat: 18.487941017787897, lng: -69.92941289715827 },
                { lat: 18.490778880769206, lng: -69.92965977141539 },
                { lat: 18.492696447071634, lng: -69.92961168104317 },
                { lat: 18.493557259763676, lng: -69.9231823821176 },
                { lat: 18.490346989214935, lng: -69.9214598257232 },
                { lat: 18.48798271365009, lng: -69.92117367488844 },
                { lat: 18.487067189028966, lng: -69.91630133663955 },
                { lat: 18.486806377608122, lng: -69.9146386764171 },
                { lat: 18.484879638915384, lng: -69.91711907346233 },
                { lat: 18.485186904876652, lng: -69.92040616246467 },
                { lat: 18.48407792135211, lng: -69.92847981445819 },
                { lat: 18.482145550875867, lng: -69.92903495093843 },
                { lat: 18.47744246401174, lng: -69.92754881571528 },
                { lat: 18.4713731986702, lng: -69.92517965807653 },
                { lat: 18.47006245265438, lng: -69.92784903771634 },
                { lat: 18.468910478386707, lng: -69.93269254510477 },
                { lat: 18.466711763957942, lng: -69.93703597503944 },
                { lat: 18.464675689291703, lng: -69.94092924592096 },
                { lat: 18.46232769912683, lng: -69.94575236024968 },
                { lat: 18.466036019307847, lng: -69.94719335278393 },
                { lat: 18.46754845317965, lng: -69.95078992841907 },
                { lat: 18.46501091768189, lng: -69.95818977946533 },
                { lat: 18.465554278335453, lng: -69.95880987871128 },
                { lat: 18.47072570060878, lng: -69.96022571622787 },
                { lat: 18.47342559200069, lng: -69.96083990976393 },
                { lat: 18.47607502914917, lng: -69.96150134896243 },
                { lat: 18.47875803267391, lng: -69.96205057971846 },
                { lat: 18.480147128631508, lng: -69.96318447548809 },
                { lat: 18.47917252216122, lng: -69.96919057963773 },
                { lat: 18.482600769408805, lng: -69.97414677945537 },
            ];
            var rutaNaco = new google.maps.Polyline({
                path: rutaNacoCoordenadas,
                strokeColor: "#F5B041",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaNaco.setMap(map);

            const rutaSimonBolivarCoordenadas = [
                { lat: 18.42668330342161, lng: -70.0061212684313 },
                { lat: 18.426427391868934, lng: -70.00286362345211 },
                { lat: 18.42601399547939, lng: -70.00029070639849 },
                { lat: 18.427082372583293, lng: -69.99301142242687 },
                { lat: 18.4288501724923, lng: -69.99255414395992 },
                { lat: 18.43099091712576, lng: -69.99199300948541 },
                { lat: 18.434117067635214, lng: -69.98802589044998 },
                { lat: 18.436177401747678, lng: -69.98659273262297 },
                { lat: 18.438733297764763, lng: -69.98481330594933 },
                { lat: 18.44138021360737, lng: -69.98351395873662 },
                { lat: 18.443404298213437, lng: -69.98283009180733 },
                { lat: 18.446881516045448, lng: -69.98211887016811 },
                { lat: 18.446167913655927, lng: -69.98010830126343 },
                { lat: 18.444740699983406, lng: -69.97807037767978 },
                { lat: 18.444520129544877, lng: -69.97544432859115 },
                { lat: 18.44564892825818, lng: -69.96918010718412 },
                { lat: 18.446336583599457, lng: -69.96587019102813 },
                { lat: 18.448023273756554, lng: -69.96045396472657 },
                { lat: 18.449165023845538, lng: -69.95718508068413 },
                { lat: 18.45033271495284, lng: -69.95477786900042 },
                { lat: 18.45161716599402, lng: -69.95198769179477 },
                { lat: 18.453524363456754, lng: -69.9470638497208 },
                { lat: 18.456391606832316, lng: -69.94133304454799 },
                { lat: 18.4596152741494, lng: -69.93337468741728 },
                { lat: 18.458379104487708, lng: -69.93225885875685 },
                { lat: 18.457312597976674, lng: -69.93168816779807 },
                { lat: 18.452537476344542, lng: -69.92869842845155 },
                { lat: 18.451962342060035, lng: -69.925990759158 },
                { lat: 18.453110287345627, lng: -69.92400969155274 },
                { lat: 18.454987921972915, lng: -69.9207922330892 },
                { lat: 18.455459034355645, lng: -69.91900715548542 },
                { lat: 18.456216908077376, lng: -69.91596964435985 },
                { lat: 18.458028554546754, lng: -69.91170890377522 },
                { lat: 18.460953754067276, lng: -69.90697656254547 },
                { lat: 18.46252802264741, lng: -69.90404968804687 },
                { lat: 18.46377253555751, lng: -69.90115645572334 },
                { lat: 18.46563396963496, lng: -69.89719788594293 },
                { lat: 18.46755784308158, lng: -69.89578677753877 },
                { lat: 18.46904386978941, lng: -69.89694861037636 },
                { lat: 18.470396309869596, lng: -69.8975207250267 },
                { lat: 18.470129162062833, lng: -69.89915785312786 },
                { lat: 18.46958469082424, lng: -69.90143720315741 },
                { lat: 18.46912393398501, lng: -69.90340681079573 },
                { lat: 18.46836835602467, lng: -69.90666143704948 },
                { lat: 18.46741332462556, lng: -69.91041517363836 },
                { lat: 18.467137890401343, lng: -69.91168572245532 },
                { lat: 18.465915900991387, lng: -69.91645838790029 },
                { lat: 18.465027175922334, lng: -69.92014768747394 },
                { lat: 18.46416621914638, lng: -69.9236905863299 },
                { lat: 18.463721852661156, lng: -69.92550595596279 },
                { lat: 18.462726448763352, lng: -69.92915682970975 },
                { lat: 18.460144426706034, lng: -69.93450146031745 },
            ];
            rutaSimonBolivar = new google.maps.Polyline({
                path: rutaSimonBolivarCoordenadas,
                strokeColor: "#3498DB",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaSimonBolivar.setMap(map);

            const rutaLosRiosCoordenadas = [
                { lat: 18.49317098775938, lng: -69.96597623990061 },
                { lat: 18.49141582532252, lng: -69.96820066544166 },
                { lat: 18.49004881135028, lng: -69.96900145862085 },
                { lat: 18.484192467550795, lng: -69.96784475731252 },
                { lat: 18.481070127492195, lng: -69.96720412275208 },
                { lat: 18.47970303100498, lng: -69.96311117968894 },
                { lat: 18.48069881841329, lng: -69.95814626186703 },
                { lat: 18.481757464923277, lng: -69.95260315124544 },
                { lat: 18.481926240847887, lng: -69.94957793253306 },
                { lat: 18.476647387521282, lng: -69.94410966354164 },
                { lat: 18.471915587503613, lng: -69.94147663407385 },
                { lat: 18.468317360533515, lng: -69.93944989430697 },
                { lat: 18.46404539492418, lng: -69.93704205816502 },
                { lat: 18.463299305445993, lng: -69.93670506670347 },
                { lat: 18.459126853904966, lng: -69.93310017771164 },
                { lat: 18.454506508629958, lng: -69.92996735763823 },
                { lat: 18.453582699104228, lng: -69.928007439199 },
                { lat: 18.45478360035316, lng: -69.92570331400626 },
                { lat: 18.455900431010495, lng: -69.9247158318225 },
                { lat: 18.457905904322388, lng: -69.92586789441884 },
                { lat: 18.46061986091084, lng: -69.92741241788322 },
                { lat: 18.465035834400474, lng: -69.92984771854218 },
                { lat: 18.468890440443502, lng: -69.93202524342726 },
                { lat: 18.47224063518317, lng: -69.93387360755264 },
                { lat: 18.47620314661719, lng: -69.93608911248947 },
                { lat: 18.47889279917981, lng: -69.93751969567332 },
                { lat: 18.482530967427767, lng: -69.93960860033341 },
                { lat: 18.486157051686636, lng: -69.94160888480064 },
                { lat: 18.488366283931292, lng: -69.94422951066298 },
                { lat: 18.48972302657876, lng: -69.94830603977081 },
                { lat: 18.489434869746553, lng: -69.95230660869224 },
                { lat: 18.4882984336363, lng: -69.9578241015429 },
                { lat: 18.490903851313874, lng: -69.95929266485149 },
                { lat: 18.49457778314452, lng: -69.95905212431899 },
                { lat: 18.498611813558075, lng: -69.95865966342866 },
                { lat: 18.499848416946143, lng: -69.96228043153837 },
                { lat: 18.497339183291928, lng: -69.96359707448623 },
            ];
            var rutaLosRios = new google.maps.Polyline({
                path: rutaLosRiosCoordenadas,
                strokeColor: "#DC7633",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaLosRios.setMap(map);

            const ruta27DeFebreroCoordenadas = [
                { lat: 18.500312631607773, lng: -69.99933562899899 },
                { lat: 18.495411415638326, lng: -69.99947312497103 },
                { lat: 18.492504368355124, lng: -70.00013634071873 },
                { lat: 18.488592432682342, lng: -70.00014442871827 },
                { lat: 18.484105102347826, lng: -69.99825992540431 },
                { lat: 18.481619761155777, lng: -69.997370245735 },
                { lat: 18.476942398681246, lng: -69.99626532831363 },
                { lat: 18.472910991181383, lng: -69.99448858540522 },
                { lat: 18.469730930008524, lng: -69.99482931599472 },
                { lat: 18.4640557963627, lng: -69.9938957141808 },
                { lat: 18.460009401919947, lng: -69.98904371064317 },
                { lat: 18.457889208284904, lng: -69.98416444871782 },
                { lat: 18.456777388951483, lng: -69.9828969309626 },
                { lat: 18.45072043280373, lng: -69.97857646715448 },
                { lat: 18.44969260363517, lng: -69.97238879976747 },
                { lat: 18.449724925400858, lng: -69.96788434148321 },
                { lat: 18.450532967535015, lng: -69.96480413701664 },
                { lat: 18.45192279110718, lng: -69.9607289992534 },
                { lat: 18.453118676809833, lng: -69.9579486377023 },
                { lat: 18.456583466206887, lng: -69.95044575029168 },
                { lat: 18.457953848680493, lng: -69.94671134307941 },
                { lat: 18.45878124413397, lng: -69.9440263861064 },
                { lat: 18.46033259983821, lng: -69.94020338897835 },
                { lat: 18.462077858250115, lng: -69.93679608316326 },
                { lat: 18.463112077084762, lng: -69.93486073345862 },
                { lat: 18.464792669380444, lng: -69.93155564679664 },
                { lat: 18.468380032505017, lng: -69.92442074840267 },
                { lat: 18.47205780979196, lng: -69.91958918875078 },
                { lat: 18.475819532046014, lng: -69.91434193777856 },
                { lat: 18.476220260485327, lng: -69.91214081821902 },
                { lat: 18.47566266781677, lng: -69.9066367819679 },
                { lat: 18.476599854677733, lng: -69.90458558387446 },
                { lat: 18.478351410862086, lng: -69.90190744149923 },
                { lat: 18.476780828107472, lng: -69.89546763346513 },
                { lat: 18.476754974777513, lng: -69.89263956963522 },
                { lat: 18.47892017804081, lng: -69.88915048849616 },
                { lat: 18.48264297107919, lng: -69.87766105326516 },
                { lat: 18.48547379082554, lng: -69.87498291088059 },
                { lat: 18.484795173923363, lng: -69.86604214038904 },
                { lat: 18.484756395733605, lng: -69.86535386459805 },
                { lat: 18.484523726406188, lng: -69.86270298066518 },
                { lat: 18.484310445909824, lng: -69.85978632689276 },
                { lat: 18.48425227845931, lng: -69.85707411145862 },
                { lat: 18.483942051710613, lng: -69.85056615731786 },
                { lat: 18.477763251949362, lng: -69.8365893888484 },
                { lat: 18.476134493592355, lng: -69.83546497792628 },
                { lat: 18.473141932935782, lng: -69.83329111681387 },
                { lat: 18.4695546694045, lng: -69.83286861089135 },
                { lat: 18.46870147134982, lng: -69.82940678814242 },
                { lat: 18.4670790906191, lng: -69.82473196458693 },
                { lat: 18.46539852071692, lng: -69.81949834282328 },
                { lat: 18.46509472363189, lng: -69.81594111552016 },
                { lat: 18.464907274088052, lng: -69.8132834169811 },
                { lat: 18.464693969196095, lng: -69.81080289832819 },
                { lat: 18.464810317342742, lng: -69.80755914319836 },
                { lat: 18.46498483942633, lng: -69.80323867939082 },
                { lat: 18.465049477192128, lng: -69.80156909957186 },
                { lat: 18.46583159221694, lng: -69.7976370686991 },
                { lat: 18.466432719514593, lng: -69.79371185236478 },
                { lat: 18.46639531181165, lng: -69.79116651253375 },
                { lat: 18.466358163889197, lng: -69.78813126260816 },
                { lat: 18.46632101595799, lng: -69.78521350623765 },
                { lat: 18.466128587667875, lng: -69.7826706907621 },
                { lat: 18.47040021393436, lng: -69.77841457619253 },
                { lat: 18.47344087945595, lng: -69.7782056196669 },
                { lat: 18.478219365158047, lng: -69.77784100817641 },
            ];
            var ruta27DeFebrero = new google.maps.Polyline({
                path: ruta27DeFebreroCoordenadas,
                strokeColor: "#0E0DAF",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            ruta27DeFebrero.setMap(map);

            const linea1DelMetroCoordenadas = [
                { lat: 18.450974082961558, lng: -69.92768951965071 },
                { lat: 18.455584463602715, lng: -69.92403795309927 },
                { lat: 18.459256475916366, lng: -69.9164545912472 },
                { lat: 18.464543605005947, lng: -69.90996105393768 },
                { lat: 18.47123673031779, lng: -69.91206998499757 },
                { lat: 18.47676314910712, lng: -69.9138531506219 },
                { lat: 18.481497385651515, lng: -69.91463799465248 },
                { lat: 18.486112396028716, lng: -69.91432405703814 },
                { lat: 18.49338897284492, lng: -69.91491425973646 },
                { lat: 18.499629195134514, lng: -69.91543539616511 },
                { lat: 18.507518463670728, lng: -69.91585607256988 },
                { lat: 18.51814011950885, lng: -69.91507750730077 },
                { lat: 18.525439148649316, lng: -69.9164713902598 },
                { lat: 18.529350490379404, lng: -69.90840319368988 },
                { lat: 18.53957789857018, lng: -69.90436595605051 },
                { lat: 18.54661409518099, lng: -69.90118890745772 },
            ];
            var linea1DelMetro = new google.maps.Polyline({
                path: linea1DelMetroCoordenadas,
                strokeColor: "#000000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            linea1DelMetro.setMap(map);

            const linea2DelMetroCoordenadas = [
                { lat: 18.478764456728918, lng: -69.96827595767249 },
                { lat: 18.479832898734674, lng: -69.96216052107935 },
                { lat: 18.48156274314495, lng: -69.95463960703181 },
                { lat: 18.482071517604552, lng: -69.94657152232254 },
                { lat: 18.48367923490839, lng: -69.94082086619679 },
                { lat: 18.48264134319454, lng: -69.93095033698891 },
                { lat: 18.48185783250727, lng: -69.9206077390665 },
                { lat: 18.481423335254085, lng: -69.9146666762797 },
                { lat: 18.48175618782574, lng: -69.90680875786605 },
                { lat: 18.48751872097582, lng: -69.90487900614468 },
                { lat: 18.492901628929808, lng: -69.89927729043647 },
                { lat: 18.495774789421663, lng: -69.89620438457743 },
                { lat: 18.499730433908667, lng: -69.8898892982217 },
                { lat: 18.503361072907413, lng: -69.88427854279054 },
                { lat: 18.509815080319616, lng: -69.87625656514597 },
                { lat: 18.510328172337548, lng: -69.86971351996024 },
                { lat: 18.509638899998848, lng: -69.86291881346425 },
                { lat: 18.50525911508781, lng: -69.85771584230285 },
            ];
            var linea2DelMetro = new google.maps.Polyline({
                path: linea2DelMetroCoordenadas,
                strokeColor: "#5B2C6F",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            linea2DelMetro.setMap(map);

            const rutaAbrahamLincolnCoordenadas = [
                { lat: 18.458386645919095, lng: -69.92581903184985 },
                { lat: 18.455398016836043, lng: -69.92450815906226 },
                { lat: 18.455223496741652, lng: -69.9248071300489 },
                { lat: 18.454656305209703, lng: -69.9261410006047 },
                { lat: 18.454110926969623, lng: -69.92706091133284 },
                { lat: 18.453761883986825, lng: -69.92775084437895 },
                { lat: 18.45323831818221, lng: -69.92857876403427 },
                { lat: 18.45306379589256, lng: -69.92894672832553 },
                { lat: 18.45227844339404, lng: -69.92844077742505 },
                { lat: 18.451209485610466, lng: -69.92779683991536 },
                { lat: 18.449660575791487, lng: -69.9268309336508 },
                { lat: 18.44952968136381, lng: -69.926738942578 },
                { lat: 18.44968239151974, lng: -69.92637097828674 },
                { lat: 18.45059864960371, lng: -69.92478413228069 },
                { lat: 18.451602164753176, lng: -69.92308229743364 },
                { lat: 18.451885765797808, lng: -69.92250735322855 },
                { lat: 18.453129241771965, lng: -69.92322028404287 },
                { lat: 18.455725241534875, lng: -69.92469214120787 },
                { lat: 18.4593901155487, lng: -69.92664695150519 },
                { lat: 18.46169750625669, lng: -69.92797502785 },
                { lat: 18.46431573940997, lng: -69.9294179177368 },
                { lat: 18.465911082471234, lng: -69.93033444652748 },
                { lat: 18.467798630954242, lng: -69.93139288417143 },
                { lat: 18.469643233710958, lng: -69.9324091804845 },
                { lat: 18.469678935525042, lng: -69.9324593679302 },
                { lat: 18.472411241575866, lng: -69.9339554424188 },
                { lat: 18.473473083415595, lng: -69.93456253533303 },
                { lat: 18.475060130446437, lng: -69.93543949411008 },
                { lat: 18.47820529796039, lng: -69.93718029031653 },
                { lat: 18.480870013020226, lng: -69.93869308834628 },
                { lat: 18.483217470805, lng: -69.94001946671045 },
                { lat: 18.484542815566638, lng: -69.94076555451292 },
                { lat: 18.486575739704595, lng: -69.94192613560266 },
                { lat: 18.48758657698476, lng: -69.94266038075453 },
                { lat: 18.487771150172534, lng: -69.94298075594888 },
                { lat: 18.488133675368566, lng: -69.94381271871102 },
                { lat: 18.48844288743532, lng: -69.9444872830985 },
                { lat: 18.489082634755846, lng: -69.94608375218256 },
                { lat: 18.489402507545993, lng: -69.94684825842506 },
                { lat: 18.48966906772697, lng: -69.94802874612806 },
                { lat: 18.48964774292882, lng: -69.9495465160181 },
                { lat: 18.489551781299912, lng: -69.95096310123652 },
                { lat: 18.489327870618798, lng: -69.95251459932705 },
                { lat: 18.48892269817032, lng: -69.95447083606074 },
                { lat: 18.48864547435829, lng: -69.95584245028421 },
                { lat: 18.488261625268162, lng: -69.95834958127972 },
                { lat: 18.488400237536933, lng: -69.9592827287021 },
                { lat: 18.488506862282563, lng: -69.95958628266919 },
                { lat: 18.48849619981097, lng: -69.95992356487005 },
                { lat: 18.488123012887065, lng: -69.96006972049042 },
                { lat: 18.487931087866876, lng: -69.95988983664996 },
                { lat: 18.48792042535946, lng: -69.95964249636934 },
                { lat: 18.48815500036953, lng: -69.95923775772829 },
                { lat: 18.488485537338708, lng: -69.95942888430879 },
                { lat: 18.48884806102336, lng: -69.95945136978885 },
                { lat: 18.489199921513237, lng: -69.95949634074896 },
                { lat: 18.48976804447384, lng: -69.9594327803036 },
                { lat: 18.49120942345992, lng: -69.95931734951658 },
                { lat: 18.492422726740795, lng: -69.95925963412186 },
                { lat: 18.492769383251954, lng: -69.95918268026142 },
                { lat: 18.493289366698487, lng: -69.95914420333149 },
                { lat: 18.494192492094676, lng: -69.9590768687059 },
                { lat: 18.495506120528646, lng: -69.95898067638124 },
                { lat: 18.496494959178893, lng: -69.9588748648245 },
                { lat: 18.498016507387526, lng: -69.95876455990452 },
                { lat: 18.498434930780675, lng: -69.95874450446347 },
                { lat: 18.498938939417453, lng: -69.95869436586668 },
                { lat: 18.499233736237116, lng: -69.95866428270531 },
                { lat: 18.500336842393367, lng: -69.95860411638465 },
                { lat: 18.500546051377793, lng: -69.95870439358576 },
                { lat: 18.500584089347505, lng: -69.958904947988 },
                { lat: 18.500679184234794, lng: -69.95931608451258 },
                { lat: 18.50082182648176, lng: -69.95984755365991 },
                { lat: 18.5008979022902, lng: -69.96047930002696 },
                { lat: 18.500488994422433, lng: -69.96148207203812 },
                { lat: 18.50026076634576, lng: -69.96177287589468 },
                { lat: 18.499994499877623, lng: -69.96207370749802 },
                { lat: 18.49857223556413, lng: -69.9632479192413 },
                { lat: 18.496179884745597, lng: -69.96388388822912 },
                { lat: 18.495335517654723, lng: -69.96418067375679 },
                { lat: 18.49481711702241, lng: -69.96434477350694 },
                { lat: 18.493886127901977, lng: -69.96493399137064 },
                { lat: 18.49315354274885, lng: -69.96607124801659 },
            ];
            var rutaAbrahamLincoln = new google.maps.Polyline({
                path: rutaAbrahamLincolnCoordenadas,
                strokeColor: "#8F1A1A",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaAbrahamLincoln.setMap(map);

            const rutaLosAlcarrizosCoordenadas = [
                { lat: 18.535831567571137, lng: -70.06150750481916 },
                { lat: 18.535369051600682, lng: -70.06124142061297 },
                { lat: 18.534870494026908, lng: -70.06092465370035 },
                { lat: 18.534504083320815, lng: -70.06052552738312 },
                { lat: 18.53429384731509, lng: -70.06029745520186 },
                { lat: 18.534173712330034, lng: -70.06017074844253 },
                { lat: 18.533831327170606, lng: -70.05983497552049 },
                { lat: 18.533272697283106, lng: -70.05930914245353 },
                { lat: 18.532533861416123, lng: -70.05864393193038 },
                { lat: 18.531566762491703, lng: -70.05836517704762 },
                { lat: 18.530647713097782, lng: -70.05805474547347 },
                { lat: 18.530281293328525, lng: -70.05783934397354 },
                { lat: 18.529746679472883, lng: -70.0575732597689 },
                { lat: 18.529416299281838, lng: -70.05749723571451 },
                { lat: 18.52889369659126, lng: -70.0571804688092 },
                { lat: 18.528743523110418, lng: -70.05678134249513 },
                { lat: 18.528641405069834, lng: -70.05647724625344 },
                { lat: 18.528479217465588, lng: -70.05609079061846 },
                { lat: 18.528232932294863, lng: -70.05543191542812 },
                { lat: 18.527848486429868, lng: -70.05460198611836 },
                { lat: 18.527217753054593, lng: -70.05395578163335 },
                { lat: 18.52651493314763, lng: -70.05324622374043 },
                { lat: 18.52604638491969, lng: -70.0527900794114 },
                { lat: 18.525607870690358, lng: -70.05239095309416 },
                { lat: 18.525109284647154, lng: -70.05190946738382 },
                { lat: 18.524340378024817, lng: -70.05118723881256 },
                { lat: 18.523967937619915, lng: -70.05075010048725 },
                { lat: 18.523751681533078, lng: -70.05052836365772 },
                { lat: 18.52326510434754, lng: -70.05010389598984 },
                { lat: 18.522388060491004, lng: -70.0495527215581 },
                { lat: 18.52153504089984, lng: -70.04927396667316 },
                { lat: 18.521264716910654, lng: -70.04923595464294 },
                { lat: 18.52065198094447, lng: -70.04931197870296 },
                { lat: 18.520579894216947, lng: -70.0492993080262 },
                { lat: 18.520573886988274, lng: -70.0492042779507 },
                { lat: 18.52054385084179, lng: -70.0489381937392 },
                { lat: 18.52048377852112, lng: -70.04831733060587 },
                { lat: 18.520417698951956, lng: -70.04726566445997 },
                { lat: 18.520285539745014, lng: -70.0467081546878 },
                { lat: 18.52030956869789, lng: -70.04624567499398 },
                { lat: 18.52039367001034, lng: -70.04549810507122 },
                { lat: 18.52041769894857, lng: -70.04520667951128 },
                { lat: 18.520417698949526, lng: -70.04478221186383 },
                { lat: 18.520507807441323, lng: -70.04426904946453 },
                { lat: 18.520585901428053, lng: -70.04357216225645 },
                { lat: 18.52067600983138, lng: -70.0432553953398 },
                { lat: 18.520892269801298, lng: -70.04267254420989 },
                { lat: 18.521102522293933, lng: -70.0420390104039 },
                { lat: 18.521234680870208, lng: -70.0414244825862 },
                { lat: 18.521691227895356, lng: -70.04067691269282 },
                { lat: 18.52211173064522, lng: -70.03992300742695 },
                { lat: 18.522225866933585, lng: -70.03956822849696 },
                { lat: 18.52250219656651, lng: -70.03886500594012 },
                { lat: 18.52270043277288, lng: -70.03842786760751 },
                { lat: 18.52299478307443, lng: -70.03779433377791 },
                { lat: 18.52330114713414, lng: -70.03717347062344 },
                { lat: 18.523415249684454, lng: -70.03670475349219 },
                { lat: 18.523475692927953, lng: -70.0361509629746 },
                { lat: 18.523381250350685, lng: -70.035409919561 },
                { lat: 18.523335917893068, lng: -70.0350035409132 },
                { lat: 18.52329058542544, lng: -70.03436608422064 },
                { lat: 18.52336236182904, lng: -70.03392783273853 },
                { lat: 18.52344169360698, lng: -70.03363300901755 },
                { lat: 18.523573913154017, lng: -70.03327842372474 },
                { lat: 18.52379679730562, lng: -70.03257323725224 },
                { lat: 18.523970571189583, lng: -70.03197960570746 },
                { lat: 18.52419723251104, lng: -70.03138597415634 },
                { lat: 18.524473003380443, lng: -70.03088397701033 },
                { lat: 18.524650554253835, lng: -70.03046564605698 },
                { lat: 18.524812994251647, lng: -70.02990787144101 },
                { lat: 18.524911213713043, lng: -70.02944173123448 },
                { lat: 18.524941435072527, lng: -70.02872459243866 },
                { lat: 18.524911213711263, lng: -70.02842578461421 },
                { lat: 18.524873437003937, lng: -70.027860041793 },
                { lat: 18.52485832631971, lng: -70.02754529755164 },
                { lat: 18.524869659335177, lng: -70.0270990778673 },
                { lat: 18.524922546724568, lng: -70.02666879458745 },
                { lat: 18.525016988454723, lng: -70.02632616161895 },
                { lat: 18.525103874797576, lng: -70.02595165580773 },
                { lat: 18.525239870724306, lng: -70.02548153148655 },
                { lat: 18.525330534615083, lng: -70.0251269462012 },
                { lat: 18.525364533561195, lng: -70.02474048808726 },
                { lat: 18.525273869685353, lng: -70.02433809354275 },
                { lat: 18.5250320991219, lng: -70.02381617586653 },
                { lat: 18.524756329154503, lng: -70.02351736804123 },
                { lat: 18.524401227447957, lng: -70.02327035357503 },
                { lat: 18.524155677963574, lng: -70.02308310067878 },
                { lat: 18.523932794281237, lng: -70.02280022926408 },
                { lat: 18.523853462731253, lng: -70.0224854850159 },
                { lat: 18.523725021097068, lng: -70.02195161502996 },
                { lat: 18.523658958822192, lng: -70.02171982265726 },
                { lat: 18.523558365065405, lng: -70.02163337896769 },
                { lat: 18.523323646069446, lng: -70.02149978417476 },
                { lat: 18.523118732390913, lng: -70.02118544349186 },
                { lat: 18.523122458096243, lng: -70.02073357875102 },
                { lat: 18.523267760540303, lng: -70.02008132183165 },
                { lat: 18.52332737176513, lng: -70.01997523185801 },
                { lat: 18.523085201031645, lng: -70.01961766933691 },
                { lat: 18.522992058352866, lng: -70.01920902644255 },
                { lat: 18.522857932804776, lng: -70.01870608134566 },
                { lat: 18.52258222995746, lng: -70.01839959918289 },
                { lat: 18.522254366534995, lng: -70.01814026812326 },
                { lat: 18.521891272437042, lng: -70.01784320817211 },
                { lat: 18.52172441319912, lng: -70.01762324040504 },
                { lat: 18.521425456657354, lng: -70.01713197905865 },
                { lat: 18.52112649958955, lng: -70.01662605320253 },
                { lat: 18.5209944021129, lng: -70.01618611768154 },
                { lat: 18.52105697461672, lng: -70.01554821116704 },
                { lat: 18.521182119550332, lng: -70.01501295627762 },
                { lat: 18.521369836778568, lng: -70.01447036912285 },
                { lat: 18.5217174607308, lng: -70.01356850129746 },
                { lat: 18.52171050825638, lng: -70.013414523889 },
                { lat: 18.521496865446007, lng: -70.01304202286939 },
                { lat: 18.521191493619398, lng: -70.01244183426853 },
                { lat: 18.52112209085522, lng: -70.01201731063709 },
                { lat: 18.521038807495582, lng: -70.0114610382899 },
                { lat: 18.520955524099932, lng: -70.01097308008296 },
                { lat: 18.52069641994306, lng: -70.01056319519446 },
                { lat: 18.520529852775432, lng: -70.01038265066077 },
                { lat: 18.520159200364816, lng: -70.01017134531538 },
                { lat: 18.519217564959753, lng: -70.01002356830197 },
                { lat: 18.517890809542088, lng: -70.00984560038344 },
                { lat: 18.5173423365526, lng: -70.0097468457313 },
                { lat: 18.51684737159548, lng: -70.00967630669582 },
                //{ lat: ​​18.515884673248316, lng: -70.00956423878328 },
                { lat: 18.514625766361558, lng: -70.00938975080273 },
                { lat: 18.513388431716564, lng: -70.00915457135186 },
                { lat: 18.512784148754502, lng: -70.00901801553903 },
                { lat: 18.512304825407444, lng: -70.00888102567087 },
                { lat: 18.511341078143598, lng: -70.00844783402167 },
                { lat: 18.51097769661351, lng: -70.00825623002748 },
                { lat: 18.510590615439515, lng: -70.00803130359225 },
                { lat: 18.509492564104445, lng: -70.00730654062137 },
                { lat: 18.508197012476884, lng: -70.00610693293517 },
                { lat: 18.50751763390831, lng: -70.00529886389522 },
                { lat: 18.50725694141455, lng: -70.00498230076484 },
                { lat: 18.506814553256255, lng: -70.00433251326814 },
                { lat: 18.506143820519405, lng: -70.00353903809794 },
                { lat: 18.505127234219913, lng: -70.00211744940046 },
                { lat: 18.504324274118616, lng: -70.00101435871242 },
                { lat: 18.503572876846356, lng: -70.00002002345249 },
                { lat: 18.502475241575084, lng: -69.99858289825039 },
                { lat: 18.50178277007667, lng: -69.99763517242884 },
                { lat: 18.50136286573931, lng: -69.99706032240067 },
                { lat: 18.500154714308007, lng: -69.99555328297953 },
                { lat: 18.49953590172476, lng: -69.99466770312802 },
                { lat: 18.49862977926454, lng: -69.99344032053216 },
                { lat: 18.498223239899918, lng: -69.99285693641588 },
                { lat: 18.49761644748802, lng: -69.99204802885042 },
                { lat: 18.49694770622505, lng: -69.99113615306081 },
                { lat: 18.496478535300724, lng: -69.99053360018036 },
                { lat: 18.495822896863164, lng: -69.98970271145 },
                { lat: 18.495733631476007, lng: -69.98954282518595 },
                //{ lat: 18.49479576956177, lng; -69.98835609618736 },
                { lat: 18.49366407601867, lng: -69.98683972023014 },
                { lat: 18.49289502032895, lng: -69.98579803588845 },
                { lat: 18.492363557062422, lng: -69.98507281261668 },
                { lat: 18.491638263365306, lng: -69.98407727883507 },
                { lat: 18.490887956300153, lng: -69.98312130269461 },
                { lat: 18.489918804826324, lng: -69.98204665365762 },
                { lat: 18.48961242676132, lng: -69.98169063496435 },
                { lat: 18.48883710024658, lng: -69.98087970346927 },
                { lat: 18.487824168376292, lng: -69.97980505442817 },
                { lat: 18.48679872507771, lng: -69.97867766188736 },
                { lat: 18.48548564848728, lng: -69.97731292353525 },
                { lat: 18.484641522500862, lng: -69.97651517793479 },
                { lat: 18.48329091227887, lng: -69.97511747488117 },
                { lat: 18.482271694742995, lng: -69.97410216228779 },
                { lat: 18.481671416546025, lng: -69.97346264722678 },
                { lat: 18.480370806597836, lng: -69.97207813004727 },
                { lat: 18.479526655424262, lng: -69.97089140105362 },
                { lat: 18.47904517473522, lng: -69.96984312377714 },
                { lat: 18.47878880136036, lng: -69.96963214972818 },
                { lat: 18.478482403409494, lng: -69.96938821098406 },
                { lat: 18.477857099752278, lng: -69.96894648408949 },
                { lat: 18.47666901653701, lng: -69.96806962320683 },
                { lat: 18.47621254027728, lng: -69.96793776442622 },
                { lat: 18.475155761779103, lng: -69.96803665850976 },
                { lat: 18.47420528087277, lng: -69.96814214552757 },
                { lat: 18.471983542726797, lng: -69.96827671885153 },
                { lat: 18.47082668536085, lng: -69.96835583411989 },
                { lat: 18.469657313443488, lng: -69.96847450702016 },
                { lat: 18.46713719615296, lng: -69.96868548106679 },
                { lat: 18.465765374339767, lng: -69.96879910935446 },
                { lat: 18.464318371475326, lng: -69.96891889557105 },
                { lat: 18.463276441520428, lng: -69.96901278233274 },
                { lat: 18.462359181731447, lng: -69.96908789174216 },
                { lat: 18.46087196367618, lng:  -69.96962304628805 },
                { lat: 18.459420355189494, lng: -69.97014881215208 },
                { lat: 18.45770156359815, lng: -69.97078724212089 },
                { lat: 18.455163420227255, lng: -69.97172610972558 },
                { lat: 18.453889881515188, lng: -69.97224248691235 },
                { lat: 18.452732110812956, lng: -69.97305930171228 },
                { lat: 18.45144964806284, lng: -69.97431738432942 },
                { lat: 18.451039970413373, lng: -69.97554730088936 },
                { lat: 18.450477667510608, lng: -69.9760474108896 },
                { lat: 18.450040041011857, lng: -69.97612251273696 },
                { lat: 18.44947010715556, lng: -69.97611178390162 },
                { lat: 18.44880857438233, lng: -69.97580064762552 },
                { lat: 18.44723106290397, lng: -69.9760688686203 },
                { lat: 18.44486985738718, lng: -69.97690571784236 },
                { lat: 18.442813953754065, lng: -69.97767819402493 },
                { lat: 18.441555062119466, lng: -69.97830843788286 },
                { lat: 18.439163244559627, lng: -69.98027181479931 },
                { lat: 18.43736172594006, lng: -69.9817523942117 },
                { lat: 18.435875713329597, lng: -69.98301839681969 },
                { lat: 18.434237013274423, lng: -69.98442387435217 },
                { lat: 18.433341319679528, lng: -69.98536801197093 },
                { lat: 18.431570275438514, lng: -69.98747086382488 },
                { lat: 18.430297962265104, lng: -69.98909091806335 },
                { lat: 18.429147783063527, lng: -69.99028181881823 },
                { lat: 18.42872028085672, lng: -69.99062514156346 },
                { lat: 18.427987417492844, lng: -69.99082898943485 },
                { lat: 18.427783843781896, lng: -69.99088263361153 },
                { lat: 18.427488661462274, lng: -69.99185895774428 },
                { lat: 18.427152763728476, lng: -69.99318933339903 },
                { lat: 18.42680668659437, lng: -69.99444460716086 },
                { lat: 18.426460608766394, lng: -69.99568915224793 },
                { lat: 18.42628756959112, lng: -69.99635434003878 },
                { lat: 18.426216318106533, lng: -69.99714827390216 },
                { lat: 18.426267212021585, lng: -69.99865031089625 },
                { lat: 18.426307927144222, lng: -70.0006029590982 },
                { lat: 18.42634864226111, lng: -70.00146126599023 },
                { lat: 18.42647078754139, lng: -70.0026736244541 },
                { lat: 18.426735435340753, lng: -70.00369286384867 },
                { lat: 18.42690001877136, lng: -70.00496372523244 },
                { lat: 18.426925256102237, lng: -70.00557555390849 },
                { lat: 18.426925256102237, lng: -70.00642014331811 },
            ];
            var rutaLosAlcarrizos = new google.maps.Polyline({
                path: rutaLosAlcarrizosCoordenadas,
                strokeColor: "542A2A",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaLosAlcarrizos.setMap(map);

            const rutaJohnFKennedyCoordenadas = [
                { lat: 18.48579432762025, lng: -69.97731099795766 },
                { lat: 18.485629263733834, lng: -69.97747214987744 },
                { lat: 18.48493232553507, lng: -69.97679531173695 },
                { lat: 18.483416169569395, lng: -69.97526759153727 },
                { lat: 18.482154276486355, lng: -69.97393223386575 },
                { lat: 18.48066203725103, lng: -69.97241643554115 },
                { lat: 18.479598229222443, lng: -69.97112073955367 },
                { lat: 18.479038810285815, lng: -69.9695639705387 },
                { lat: 18.478890991171696, lng: -69.96859980727506 },
                { lat: 18.47881192551111, lng: -69.96825318921631 },
                { lat: 18.478803602810917, lng: -69.96784075754 },
                { lat: 18.478977309241856, lng: -69.96671843126884 },
                { lat: 18.479470606594166, lng: -69.96437110056742 },
                { lat: 18.47985552389454, lng: -69.96254849130767 },
                { lat: 18.48048538669463, lng: -69.95951572872302 },
                { lat: 18.480828311028823, lng: -69.95793662589264 },
                { lat: 18.48145817026789, lng: -69.95554583481149 },
                { lat: 18.481766100605288, lng: -69.9533395184356 },
                { lat: 18.481871076732332, lng: -69.9518932374019 },
                { lat: 18.481983051195023, lng: -69.94975333182732 },
                { lat: 18.48205303519965, lng: -69.94799713348584 },
                { lat: 18.482140599048233, lng: -69.94629079026066 },
                { lat: 18.482259198352544, lng: -69.94573136027567 },
                { lat: 18.482614995782182, lng: -69.94432291292532 },
                { lat: 18.483320346390055, lng: -69.94230238332634 },
                { lat: 18.483613721456535, lng: -69.94156525191937 },
                { lat: 18.483963274063044, lng: -69.94069649004837 },
                { lat: 18.484212954064393, lng: -69.9394986516676 },
                { lat: 18.48385715995613, lng: -69.93778087244445 },
                { lat: 18.483501365113618, lng: -69.93647114802414 },
                { lat: 18.483051938983273, lng: -69.93479285798932 },
                { lat: 18.48305976028149, lng: -69.9347472768323 },
                { lat: 18.48276129584583, lng: -69.93201078055093 },
                { lat: 18.482612063416653, lng: -69.9295547752114 },
                { lat: 18.48245634250391, lng: -69.92672934287263 },
                { lat: 18.482339551721374, lng: -69.92467697071143 },
                { lat: 18.482274667917533, lng: -69.9234592298477 },
                { lat: 18.482135149641156, lng: -69.92119824803132 },
                { lat: 18.481993584399508, lng: -69.9190383125844 },
                { lat: 18.481859134994462, lng: -69.91642375393974 },
                { lat: 18.481782330038875, lng: -69.91494399840731 },
                { lat: 18.48178762373157, lng: -69.9143768118549 },
                { lat: 18.481755984969276, lng: -69.9135576560375 },
                { lat: 18.48165403779781, lng: -69.91224181760187 },
                { lat: 18.481692925038878, lng: -69.91177404875688 },
                { lat: 18.481614043172303, lng: -69.91060964908303 },
                { lat: 18.48152270623714, lng: -69.90888493677618 },
                { lat: 18.48143136925566, lng: -69.90734407705244 },
                { lat: 18.48145212766665, lng: -69.90672248022976 },
                { lat: 18.48191711537277, lng: -69.90587763384514 },
                { lat: 18.48259798795211, lng: -69.90543551216348 },
                { lat: 18.483478136299155, lng: -69.9048445574388 },
                { lat: 18.48408427358055, lng: -69.90448998460715 },
                { lat: 18.484748531151006, lng: -69.90432801923852 },
                { lat: 18.48549996941398, lng: -69.90430175458403 },
                { lat: 18.48595664300631, lng: -69.90428862225758 },
                { lat: 18.487492717934384, lng: -69.90431926435379 },
                { lat: 18.488704961954475, lng: -69.90427986737203 },
                { lat: 18.490137225511432, lng: -69.90352694727753 },
                { lat: 18.490826368348007, lng: -69.90266896857102 },
                { lat: 18.49168156583507, lng: -69.90142577492735 },
                { lat: 18.492200494277018, lng: -69.90071662925887 },
                { lat: 18.49264469577872, lng: -69.90006876778625 },
                { lat: 18.49352894391553, lng: -69.89879493204685 },
                { lat: 18.49410598601792, lng: -69.89805076683727 },
                { lat: 18.494404884763107, lng: -69.89772683609965 },
                { lat: 18.495181188776872, lng: -69.89659307851628 },
                { lat: 18.495413664169014, lng: -69.89622537335879 },
                { lat: 18.49579973866235, lng: -69.89564317351758 },
                { lat: 18.496468102124226, lng: -69.89474579782429 },
                { lat: 18.496625852130922, lng: -69.89447439639608 },
                { lat: 18.497597256840436, lng: -69.89306923738627 },
                { lat: 18.49791275462204, lng: -69.89261398337601 },
                { lat: 18.49841505910501, lng: -69.89194423468966 },
                { lat: 18.49954420098061, lng: -69.890254541923 },
                { lat: 18.50089334971453, lng: -69.88829344772762 },
                { lat: 18.501690380281264, lng: -69.88716844503425 },
                { lat: 18.5027904424171, lng: -69.8855750560022 },
                { lat: 18.5032553722142, lng: -69.8849359494118 },
                { lat: 18.503861439514026, lng: -69.88407797069961 },
                { lat: 18.50438033105536, lng: -69.88329878595718 },
                { lat: 18.505700384018034, lng: -69.8814471278197 },
                { lat: 18.506484938978808, lng: -69.88029148302532 },
                { lat: 18.507410626182498, lng: -69.87899138263082 },
                { lat: 18.508211777438024, lng: -69.87784011528058 },
                { lat: 18.509183116422633, lng: -69.87631238788585 },
                { lat: 18.509851427644982, lng: -69.8754018798658 },
                { lat: 18.51019180876148, lng: -69.8741149118 },
                { lat: 18.510154449891232, lng: -69.87262658138569 },
                { lat: 18.510083883119787, lng: -69.87126081936073 },
                { lat: 18.510025769285228, lng: -69.86944418076075 },
                { lat: 18.509976723401284, lng: -69.86764340970076 },
                { lat: 18.50985464074732, lng: -69.86457504273834 },
                { lat: 18.509766469893645, lng: -69.86278695010245 },
                { lat: 18.50956299851104, lng: -69.86127064755493 },
                { lat: 18.508864411602367, lng: -69.86044812494494 },
                { lat: 18.507114540633896, lng: -69.85886029868804 },
                { lat: 18.504984828588547, lng: -69.85685048256448 },
                { lat: 18.505011958844644, lng: -69.85676465411761 },
                { lat: 18.505391781984013, lng: -69.85621392158512 },
                { lat: 18.506564267631358, lng: -69.85477595900694 },
                { lat: 18.507635536555956, lng: -69.8535384073034 },
                { lat: 18.50820615948315, lng: -69.85285150934017 },
                { lat: 18.509175137440266, lng: -69.85171614080446 },
                { lat: 18.509928573480764, lng: -69.85035090272011 },
                { lat: 18.51120764385435, lng: -69.84799923730756 },
                { lat: 18.51271396495183, lng: -69.84599500733081 },
                { lat: 18.513580816202126, lng: -69.84489279375161 },
                { lat: 18.514199992980426, lng: -69.84382192273739 },
                { lat: 18.51501730288777, lng: -69.84227568946591 },
                { lat: 18.515869282396878, lng: -69.84058841464221 },
                { lat: 18.516166483537155, lng: -69.84004514349003 },
                { lat: 18.517142290372597, lng: -69.83816981327745 },
                //{ lat: 18.51779117407219, lng; - 69.83698401951852 }, fallo
                { lat: 18.51863323321824, lng: -69.83558405155613 },
                { lat: 18.51883631745336, lng: -69.835119136825 },
                { lat: 18.518732298729837, lng: -69.83460720824175 },
                { lat: 18.518088371900124, lng: -69.83421542616432 },
                { lat: 18.51723145012314, lng: -69.83375573519473 },
                { lat: 18.515899002545652, lng: -69.83307664625808 },
                { lat: 18.51501115822299, lng: -69.83257741347796 },
                { lat: 18.513635649198363, lng: -69.83184096260395 },
                { lat: 18.51169580999474, lng: -69.83073256683697 },
                { lat: 18.50997049802291, lng: -69.82979315762017 },
                { lat: 18.50952036997013, lng: -69.82957448315145 },
                { lat: 18.509595243376637, lng: -69.82938823696706 },
                { lat: 18.509735211450465, lng: -69.82905047469649 },
                { lat: 18.510175216692705, lng: -69.82821438278424 },
                { lat: 18.5107231461691, lng: -69.82712439908838 },
                { lat: 18.51134469450951, lng: -69.82587363731464 },
                { lat: 18.512016114233642, lng: -69.8245771062599 },
                { lat: 18.51281139810007, lng: -69.8230181452758 },
                { lat: 18.51342423197168, lng: -69.82185879137802 },
                { lat: 18.51390607691382, lng: -69.8208129061622 },
                { lat: 18.51474714598163, lng: -69.81910546798113 },
                { lat: 18.515259670049733, lng: -69.81811215920541 },
                { lat: 18.51610138897181, lng: -69.81646686474495 },
                { lat: 18.5162246977673, lng: -69.81631420856021 },
                { lat: 18.516825156704947, lng: -69.8164894804794 },
                { lat: 18.518079680217234, lng: -69.81683437038234 },
                { lat: 18.52019197676469, lng: -69.81742237939982 },
                { lat: 18.52089964387776, lng: -69.81756938165461 },
                { lat: 18.52089428277428, lng: -69.81704921982994 },
                { lat: 18.520915727208763, lng: -69.81587885573083 },
                { lat: 18.52177759040621, lng: -69.81574708229203 },
                { lat: 18.52288975598961, lng: -69.81575665717709 },
                { lat: 18.52464348751871, lng: -69.81573580277814 },
                { lat: 18.527353130859733, lng: -69.81577194790334 },
                { lat: 18.529621067441877, lng: -69.81581683648108 },
                { lat: 18.531591046923662, lng: -69.81586172505885 },
                { lat: 18.532040977336052, lng: -69.81559239359675 },
                { lat: 18.53316579814235, lng: -69.81489341432241 },
                { lat: 18.533311720309996, lng: -69.8148870016676 },
                { lat: 18.53314755787538, lng: -69.81574629728769 },
                { lat: 18.53234498370901, lng: -69.81705447868524 },
                { lat: 18.530776305100886, lng: -69.81901675076978 },
                { lat: 18.52965754876472, lng: -69.82049166115858 },
            ];
            var rutaJohnFKennedy = new google.maps.Polyline({
                path: rutaJohnFKennedyCoordenadas,
                strokeColor: "E722E3",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaJohnFKennedy.setMap(map);

            const rutaJuanBoschCoordenadas = [
                { lat: 18.510012460475608, lng: -69.86893879271592 },
                { lat: 18.50995034892196, lng: -69.8669983562261 },
                { lat: 18.50984165364779, lng: -69.86471404492643 },
                { lat: 18.509779542040675, lng: -69.8624788585935 },
                { lat: 18.50954662330099, lng: -69.86128348422031 },
                { lat: 18.508622709225847, lng: -69.86021910977534 },
                { lat: 18.5069534400565, lng: -69.85872079806339 },
                { lat: 18.50551707913603, lng: -69.85733711128643 },
                { lat: 18.50435245332278, lng: -69.85622361187042 },
                { lat: 18.503001477462046, lng: -69.85497911252371 },
                { lat: 18.501363210825208, lng: -69.8534726133115 },
                { lat: 18.500439252554553, lng: -69.85293223859357 },
                { lat: 18.4986922590703, lng: -69.85244917634645 },
                { lat: 18.4974344127094, lng: -69.85209711403094 },
                { lat: 18.494701282621858, lng: -69.85135205191956 },
                { lat: 18.49197150399029, lng: -69.85054861109829 },
                { lat: 18.490224424122797, lng: -69.85011467382432 },
                { lat: 18.489478997951846, lng: -69.85046673613539 },
                { lat: 18.48830649817299, lng: -69.85132642318992 },
                { lat: 18.486613735971865, lng: -69.85259548502968 },
                { lat: 18.485505022115586, lng: -69.85335404612617 },
                { lat: 18.484303443445786, lng: -69.85419232901856 },
                { lat: 18.483257326333536, lng: -69.85472177767917 },
                { lat: 18.482197254430435, lng: -69.85497914855166 },
                { lat: 18.48096282039208, lng: -69.85475119148947 },
                { lat: 18.481046511116254, lng: -69.85414820829263 },
                { lat: 18.48122784086749, lng: -69.85279517283765 },
                { lat: 18.481374299377453, lng: -69.85158185299748 },
                { lat: 18.48159747402183, lng: -69.84968466197786 },
                { lat: 18.481481461539335, lng: -69.84778666017954 },
                { lat: 18.481015302887823, lng: -69.84601219902132 },
                { lat: 18.48095931682993, lng: -69.8448217542059 },
                { lat: 18.480931323792475, lng: -69.84450692582472 },
                { lat: 18.481593824467453, lng: -69.84439870357026 },
                { lat: 18.481745920853413, lng: -69.84314414682652 },
                { lat: 18.481695984193685, lng: -69.84236752687067 },
                { lat: 18.48153993205324, lng: -69.84103805880747 },
                { lat: 18.48127152203249, lng: -69.83988629192609 },
                { lat: 18.480141698537853, lng: -69.83830672590948 },
                { lat: 18.47906804721335, lng: -69.83752352442949 },
                { lat: 18.477719731375938, lng: -69.83650338804546 },
                { lat: 18.476681394994067, lng: -69.83576308520749 },
                { lat: 18.476034601352296, lng: -69.83528936781556 },
                { lat: 18.47484469218735, lng: -69.83447728085373 },
                { lat: 18.474015207045746, lng: -69.833868215635 },
                { lat: 18.472785784199957, lng: -69.83297283770231 },
                { lat: 18.47248953640667, lng: -69.83289995810497 },
                { lat: 18.471576102517187, lng: -69.83292078084871 },
                { lat: 18.470307161953578, lng: -69.83285310693614 },
                { lat: 18.469502342640403, lng: -69.83281666713665 },
                { lat: 18.469018461731526, lng: -69.83281666713695 },
                { lat: 18.46881602136054, lng: -69.83284269556788 },
                { lat: 18.468756770474066, lng: -69.83188484940379 },
                { lat: 18.468707394712442, lng: -69.83107796812789 },
                { lat: 18.468628393472006, lng: -69.82988586611425 },
                { lat: 18.468401264709904, lng: -69.82870938116338 },
                { lat: 18.467966756679726, lng: -69.82810031594094 },
                { lat: 18.467196489732906, lng: -69.82692903666732 },
                { lat: 18.467068111575074, lng: -69.82611174401922 },
                { lat: 18.46682123022456, lng: -69.82538815371633 },
                { lat: 18.46685727782847, lng: -69.82521364446633 },
                { lat: 18.466358576531665, lng: -69.8237092013091 },
                { lat: 18.465635453666902, lng: -69.82136487248951 },
                { lat: 18.46509230970145, lng: -69.81898066846293 },
                { lat: 18.464855300881243, lng: -69.8159717821576 },
                { lat: 18.464687419433123, lng: -69.81349908148067 },
                { lat: 18.464403937676185, lng: -69.81016269576104 },
                { lat: 18.46440393768101, lng: -69.80871030947002 },
                { lat: 18.46470019942632, lng: -69.80684667400408 },
                { lat: 18.464759451716787, lng: -69.805836770988 },
                { lat: 18.46474463864813, lng: -69.80424903686085 },
                { lat: 18.464718630740162, lng: -69.80244763958315 },
                { lat: 18.46471039346092, lng: -69.80148367458614 },
                { lat: 18.46533642624453, lng: -69.79853098898204 },
                { lat: 18.4661766245532, lng: -69.79481407888485 },
                { lat: 18.46620133620266, lng: -69.79350273910893 },
                { lat: 18.466135438449697, lng: -69.78955135103067 },
                { lat: 18.46597893118921, lng: -69.78348097682859 },
                { lat: 18.465624730033362, lng: -69.78117961893689 },
                { lat: 18.465223405687382, lng: -69.77749652789478 },
                { lat: 18.465036123934535, lng: -69.77373820322521 },
                { lat: 18.464373941898277, lng: -69.76834004782265 },
                { lat: 18.46415531977476, lng: -69.76633964573895 },
                { lat: 18.464016868686183, lng: -69.76434479027265 },
                { lat: 18.464321460951503, lng: -69.76148387559024 },
                { lat: 18.464312230891284, lng: -69.76001449425145 },
                { lat: 18.46423839039001, lng: -69.7579904457881 },
                { lat: 18.463592284632522, lng: -69.75487652504431 },
                { lat: 18.463560593299146, lng: -69.75188085083138 },
                { lat: 18.46355986609753, lng: -69.74900472625535 },
                { lat: 18.463590573460987, lng: -69.74570259815182 },
                { lat: 18.4634677439535, lng: -69.74450476737584 },
                { lat: 18.463237438374627, lng: -69.74222241413261 },
                { lat: 18.463502522405268, lng: -69.74424861925024 },
                { lat: 18.463473785561106, lng: -69.74284938433676 },
                { lat: 18.46353971072681, lng: -69.74224028158125 },
                { lat: 18.463464841044637, lng: -69.7416598940816 },
                { lat: 18.464235556818807, lng: -69.74171096818185 },
                { lat: 18.465376209833718, lng: -69.74185490428212 },
                { lat: 18.46715546673521, lng: -69.74206413045279 },
                { lat: 18.46929062818232, lng: -69.74228923984631 },
                { lat: 18.471587514613315, lng: -69.74251434923951 },
                { lat: 18.473845550450122, lng: -69.74275310162523 },
                { lat: 18.47705464374236, lng: -69.74310073921019 },
                { lat: 18.480594164479385, lng: -69.74341599409341 },
                { lat: 18.48224268345623, lng: -69.74355232052984 },
                { lat: 18.483856286113603, lng: -69.74339922433784 },
                { lat: 18.484869690159414, lng: -69.74289516907662 },
                { lat: 18.484822138336206, lng: -69.74355198470671 },
                { lat: 18.484727034651847, lng: -69.74539708509732 },
                { lat: 18.48463670883309, lng: -69.74706850269716 },
                { lat: 18.48546361860727, lng: -69.74727413805265 },
                { lat: 18.486447522124937, lng: -69.74751751509392 },
                { lat: 18.48650010113445, lng: -69.74656117880572 },
                { lat: 18.486557938027477, lng: -69.74568523021298 },
                { lat: 18.487683124595947, lng: -69.74574344198636 },
                { lat: 18.492740929206853, lng: -69.7459971665597 },
                { lat: 18.492723866584335, lng: -69.74718011711222 },
                { lat: 18.49293714927023, lng: -69.7474859750508 },
                { lat: 18.493214416370428, lng: -69.74762990819714 },
                { lat: 18.49361112082178, lng: -69.74712164426967 },
                { lat: 18.494054746217127, lng: -69.746766309312 },
                { lat: 18.494165652397324, lng: -69.74659089078918 },
                { lat: 18.49436187082661, lng: -69.74651892421538 },
                { lat: 18.494519698530542, lng: -69.7467393218476 },
                { lat: 18.494459979956968, lng: -69.74690574454947 },
                { lat: 18.49484388472296, lng: -69.74780982462953 },
                { lat: 18.495313100485184, lng: -69.74882635247931 },
                { lat: 18.4955946293323, lng: -69.74977091375267 },
                { lat: 18.49570553450295, lng: -69.75071097712012 },
                { lat: 18.49475857262926, lng: -69.75071547502881 },
                { lat: 18.49355417531275, lng: -69.75069538806221 },
                { lat: 18.492538950998274, lng: -69.75069089015284 },
                { lat: 18.49241524678354, lng: -69.75092478151748 },
                { lat: 18.48964852134772, lng: -69.75080166507449 },
                { lat: 18.487779295399886, lng: -69.75067731491635 },
                { lat: 18.486405978128936, lng: -69.7505933527397 },
                { lat: 18.484509162774312, lng: -69.75050873704312 },
            ];
            var rutaJuanBosch = new google.maps.Polyline({
                path: rutaJuanBoschCoordenadas,
                strokeColor: "DEE71A",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            rutaJuanBosch.setMap(map);

            const rutaCharlesDeGaulleCoordenadas = [
                { lat: 18.48245706984557, lng: -69.77786970078861 },
                { lat: 18.482099592943772, lng: -69.77787697246082 },
                { lat: 18.479856340143503, lng: -69.77799495306745 },
                { lat: 18.477535221794625, lng: -69.77811779456691 },
                { lat: 18.476570760858877, lng: -69.77823577517171 },
                { lat: 18.475947321901725, lng: -69.77887062318942 },
                { lat: 18.47524395215159, lng: -69.7788425325689 },
                { lat: 18.474167577705135, lng: -69.77851668137413 },
                { lat: 18.473325656336925, lng: -69.77837622827269 },
                { lat: 18.471181391042897, lng: -69.77851097305383 },
                { lat: 18.46789648554186, lng: -69.77870391411605 },
                { lat: 18.46607557764935, lng: -69.77886791401798 },
                { lat: 18.465709563688716, lng: -69.77938885488544 },
                { lat: 18.465960517639537, lng: -69.78129145224855 },
                { lat: 18.466180139443523, lng: -69.782732611079 },
                { lat: 18.466323975064466, lng: -69.78388018498877 },
                { lat: 18.4663658559859, lng: -69.78539421766396 },
                { lat: 18.466420003487656, lng: -69.78818434164124 },
                { lat: 18.46645384567289, lng: -69.79004680291192 },
                { lat: 18.466467382544227, lng: -69.79188785658431 },
                { lat: 18.466501224717604, lng: -69.7935433777135 },
                { lat: 18.466450461453682, lng: -69.79454239908124 },
                { lat: 18.466186492242226, lng: -69.79616937674658 },
                { lat: 18.465868374959047, lng: -69.79748594419736 },
                { lat: 18.465528366116512, lng: -69.79903413366681 },
                { lat: 18.46528470093602, lng: -69.80011878544077 },
                { lat: 18.46509518333697, lng: -69.80147460016231 },
                { lat: 18.465037651159836, lng: -69.80297313222106 },
                { lat: 18.465034266915055, lng: -69.80421477306894 },
                { lat: 18.46505795663554, lng: -69.80499971843255 },
                { lat: 18.465021611828462, lng: -69.80682436737725 },
                { lat: 18.464876089176904, lng: -69.80771635074551 },
                { lat: 18.464752449292618, lng: -69.8105714029601 },
                { lat: 18.4650881783522, lng: -69.81490309234381 },
                { lat: 18.465208081427903, lng: -69.81700994515954 },
                { lat: 18.465407919702006, lng: -69.81914208020407 },
                { lat: 18.46583157608056, lng: -69.82100453809265 },
                { lat: 18.46648316408933, lng: -69.8229595989744 },
                { lat: 18.467218562338328, lng: -69.82520971777838 },
                { lat: 18.468002338550285, lng: -69.82708419031377 },
                { lat: 18.468897776465415, lng: -69.82851627919013 },
                { lat: 18.469778997966163, lng: -69.82895623440164 },
                { lat: 18.470037425996424, lng: -69.82895623440164 },
                { lat: 18.470476398744548, lng: -69.82898982567303 },
                { lat: 18.47090179088339, lng: -69.82932186922373 },
                { lat: 18.471396955581366, lng: -69.82955589588168 },
                { lat: 18.471942019865175, lng: -69.82960764119143 },
                { lat: 18.473009144983305, lng: -69.82934825313797 },
                { lat: 18.474914877977845, lng: -69.8288730090826 },
                { lat: 18.476641356168916, lng: -69.82846710296013 },
                { lat: 18.478010619624495, lng: -69.8280904890332 },
                { lat: 18.479927570076438, lng: -69.82764692151576 },
                { lat: 18.48266206478052, lng: -69.82701504703512 },
                { lat: 18.484520524518587, lng: -69.82654696517126 },
                { lat: 18.48636766320297, lng: -69.8261195859747 },
                { lat: 18.488434813621623, lng: -69.82569831219733 },
                { lat: 18.49023558818721, lng: -69.82524651133245 },
                { lat: 18.49182210702191, lng: -69.82483744838903 },
                { lat: 18.493698117614684, lng: -69.82433069877025 },
                { lat: 18.494780867481612, lng: -69.82406206041962 },
                { lat: 18.496587365374765, lng: -69.8236285758063 },
                { lat: 18.497936436314472, lng: -69.8234209916251 },
                { lat: 18.498741241806812, lng: -69.82358583788674 },
                { lat: 18.499366555693975, lng: -69.82376289498296 },
                { lat: 18.500153984746156, lng: -69.82419637959683 },
                { lat: 18.50083719232179, lng: -69.82458712628957 },
                { lat: 18.503245766770096, lng: -69.82591810721757 },
                { lat: 18.505249026431123, lng: -69.82702929312505 },
                { lat: 18.506215909280076, lng: -69.82756656982653 },
                { lat: 18.508004917596466, lng: -69.82853122572531 },
                { lat: 18.509921277955748, lng: -69.82961188454867 },
                { lat: 18.511594457206694, lng: -69.83051548627824 },
                { lat: 18.514153405597416, lng: -69.83196247012566 },
                { lat: 18.51719283076265, lng: -69.83361093273794 },
                { lat: 18.51812491034409, lng: -69.83411768235274 },
                { lat: 18.519954318825544, lng: -69.8352044465911 },
                { lat: 18.523105572297908, lng: -69.8369513370779 },
                { lat: 18.5252874726879, lng: -69.83815228788822 },
                { lat: 18.5263385972375, lng: -69.83906769794876 },
                { lat: 18.52771619766489, lng: -69.84052899474014 },
                { lat: 18.529468043446148, lng: -69.84224223925375 },
                { lat: 18.530527105140884, lng: -69.84394708551451 },
                { lat: 18.531594123081103, lng: -69.84536639101749 },
                { lat: 18.53274872453695, lng: -69.84611383592872 },
                { lat: 18.53434922811596, lng: -69.84685288258237 },
                { lat: 18.535559895483086, lng: -69.84791915305284 },
                { lat: 18.537192222891246, lng: -69.850312656416 },
                { lat: 18.539269721641194, lng: -69.8532499709663 },
                { lat: 18.540599443585442, lng: -69.85501360502708 },
                { lat: 18.541730097232332, lng: -69.85659247742086 },
                { lat: 18.54282889429842, lng: -69.8586332539736 },
                { lat: 18.542882995607684, lng: -69.86018723912015 },
                { lat: 18.542860553408566, lng: -69.86184421353333 },
                { lat: 18.543571221726623, lng: -69.86348540724595 },
                { lat: 18.5446634009606, lng: -69.8647320832388 },
                { lat: 18.545486271119657, lng: -69.86595508816254 },
                { lat: 18.545845340484384, lng: -69.86740691336972 },
                { lat: 18.54543390677643, lng: -69.86999494960622 },
                { lat: 18.54490278178315, lng: -69.87279602540367 },
                { lat: 18.545757025347488, lng: -69.87607992420814 },
                { lat: 18.54671454046433, lng: -69.87891256143338 },
                { lat: 18.54728306253062, lng: -69.88159528191703 },
                { lat: 18.54864451557187, lng: -69.885358980955 },
                { lat: 18.54851734734351, lng: -69.88716587209571 },
                { lat: 18.546520045661072, lng: -69.89283903690266 },
                { lat: 18.545622374358366, lng: -69.89544285384609 },
                { lat: 18.54551911304421, lng: -69.89742146332398 },
                { lat: 18.545645392381594, lng: -69.90016149720857 },
                { lat: 18.5457836982306, lng: -69.90198818645617 },
                { lat: 18.54686007460633, lng: -69.90423983467792 },
                { lat: 18.547395253639397, lng: -69.9065929656285 },
                { lat: 18.547148710701013, lng: -69.90902220862753 },
                { lat: 18.546144495533788, lng: -69.91258044707534 },
            ];
            var rutaCharlesDeGaulle = new google.maps.Polyline({
                path: rutaCharlesDeGaulleCoordenadas,
                strokeColor: "EB19D8",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            })
            rutaCharlesDeGaulle.setMap(map);
        }
    </script>
    <style>
        .container .box{
            width:100%;
            margin: 50px;
            display: table;
        }
        .container .box .box-row {
            display: table-row;
        }

        .container .box .box-cell {
            display: table-cell;
            border: 0.5px solid white;
            width: 10%;
            padding: 2px;
            vertical-align: top;
        }
        .rutas_transporte {
            vertical-align: top;
            display: inline;
            font-size: 20px;
            padding: 0;
            width: 40%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="box-row">
                <div class="box-cell box1">
                    <ul class ="rutas_transporte">
                        <li>Independencia</li>
                        <li>La Barquita</li>
                        <li>Maximo Gomez</li>
                        <li>Naco</li>
                        <li>Simon Bolivar</li>
                        <li>Los Rios</li>
                        <li>27 de Febrero</li>
                        <li>Linea 1 Del Metro</li>
                        <li>Linea 2 Del Metro</li>
                        <li>Abraham Lincoln</li>
                        <li>Los Alcarrizos</li>
                        <li>John F. Kennedy</li>
                        <li>Juan Bosch</li>
                        <li>Charles de Gaulle</li>
                    </ul>
                </div>
                <div class="box-cell box2">
                    <div id="map" style="height: 600px; width: 100%;position:relative"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

